%td{rowspan: rowspan, class: "border-b dark:bg-gray-800 dark:border-gray-700 px-6 py-3"}
  = link_to nm.supplier_article, nm_nm_path(nm.nm_id)
  %br
  %small.text-gray-500= nm.object

%td{rowspan: rowspan, class: "border-b dark:bg-gray-800 dark:border-gray-700 px-6 py-3 text-right"}= 'AD' if nm.position and nm.position.position != nm.position.position_no_advert
%td{rowspan: rowspan, class: "border-b dark:bg-gray-800 dark:border-gray-700 px-6 py-3 text-right"}
  - if nm.position and nm.position.position
    = nm.position.position + 1
  - else
    = "-"
%td{rowspan: rowspan, class: "border-b dark:bg-gray-800 dark:border-gray-700 px-6 py-3 text-right"}= nm.price.total
%td{rowspan: rowspan, class: "border-b dark:bg-gray-800 dark:border-gray-700 px-6 py-3 text-right"}= nm.price_customer
%td{rowspan: rowspan, class: "border-b dark:bg-gray-800 dark:border-gray-700 px-6 py-3 text-right"}= nm.spp
