%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Оперативный отчет
      %small #{@ts_nav.strftime("%d.%m.%Y")}. 
      %small= "Обновлено #{distance_of_time_in_words(@last_datetime, Time.now)} назад в #{@last_datetime.strftime("%H:%M %d.%m.%Y")}" 
      %small= "Период для сравнения: предыдущие #{@days} д. "

    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to "-1 день", dashboard_daily_path(date: (@ts_nav - 1.days).strftime("%d.%m.%Y")), class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        = link_to "Сегодня", dashboard_daily_path(date: (Time.now).strftime("%d.%m.%Y")), class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        - if Time.now > (@ts_nav + 1.day)
          - dbd_l_path = dashboard_daily_path(date: (@ts_nav + 1.days).strftime("%d.%m.%Y"))
        - else
          - dbd_l_path = "#"
        = link_to "+1 день", dbd_l_path, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"



%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  %div{class: "flex flex-wrap content-start "}
    %div{class: "py-4 px-3 grow-1 shrink-0 basis-1/6 flex-auto text-center"}
      %div{class: "font-heading text-[2rem] font-bold dark:text-white lg:text-1xl xl:text-2xl"}
        = number_with_precision(@sum_total, :precision => 0, :delimiter => "'")
      %p{class:"text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base"} Сумма 
    %div{class: "py-4 px-3 grow-1 shrink-0 basis-1/6 flex-auto text-center"}
      %div{class: "font-heading text-[2rem] font-bold dark:text-white lg:text-1xl xl:text-2xl"}
        = number_with_precision(@qty_total, :precision => 0, :delimiter => "'")
      %p{class:"text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base"} Количество

    - if current_user.access_profit 
      %div{class: "py-4 px-3 grow-1 shrink-0 basis-1/6 flex-auto text-center"}
        %div{class: "font-heading text-[2rem] font-bold dark:text-white lg:text-1xl xl:text-2xl"}
          = number_with_precision(@profit_total, :precision => 0, :delimiter => "'")
        %p{class:"text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base"} Прибыль
    %div{class: "py-4 px-3 grow-1 shrink-0 basis-1/6 flex-auto text-center"}
      %div{class: "font-heading text-[2rem] font-bold dark:text-white lg:text-1xl xl:text-2xl"}
        = number_with_precision(@advert_total, :precision => 0, :delimiter => "'")
      %p{class:"text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base"} Реклама

    / %div{class: "pb-8 grow-0 shrink-0 basis-1/6 flex-auto text-center"}
    /   .px-6
    /     %div{class: "font-heading text-[2rem] font-bold dark:text-white lg:text-1xl xl:text-2xl"}
    /       = @last_datetime.strftime("%H:%M:%S")
    /     %p{class:"text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base"} Последний заказ
    %div{class: "py-4 px-3 grow-1 shrink-0 basis-1/6 flex-auto text-center"}
      %div{class: "font-heading text-[2rem] font-bold dark:text-white lg:text-1xl xl:text-2xl"}
        = number_with_precision(@mass_total, :precision => 2, :delimiter => "'")
      %p{class:"text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base"} Масса
    %div{class: "py-4 px-3 grow-1 shrink-0 basis-1/6 flex-auto text-center"}
      %div{class: "font-heading text-[2rem] font-bold dark:text-white lg:text-1xl xl:text-2xl"}
        = @volume_total.round(2)
      %p{class:"text-sm font-medium uppercase tracking-widest text-gray-800 dark:text-slate-400 lg:text-base"} 
        ="Объем" 

        


%div{class: "mx-auto px-4 py-4 sm:px-2 md:px-2 md:pb-2 lg:px-8 lg:pb-6"}
  %h2{class: 'mb-2 text-2xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Сводка

  %div{class: "bg-gray-200 text-gray-700 mx-auto  "}
    %div{class: "flex flex-wrap  text-left justify-left"}
      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        %i.fa.fa-chart-simple
        = " история изменения цен"

      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        %i.fa.fa-eye
        = " воронка продаж: открытие карточки, добавление в корзину"

      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        %i.fa.fa-ad
        = " статистика РК: просмотры, клики"

      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        %i.fa.fa-list-ol
        = " позиция в поиске"
      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        %i.fa.fa-cubes
        = " остаток"        
      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        %i.fa.fa-basket-shopping
        = " количество заказов"
      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        %i.fa.fa-money-bill-1
        = " сумма заказов"
      %div{class: "grow-0 shrink-0 basis-1/7 pr-4 pb-2"}
        = "П прибыль"


  %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} Артикул
        %th{scope: "col", class: "py-3 text-left"} 
          %i.fa.fa-chart-simple

        %th{class: "px-3 py-3 text-right"} 
          %span{class:" p-2.5 py-0.5 rounded"}
            %i.fa.fa-list-ol
        %th{class: "px-3 py-3 text-right"} 
          %i.fa.fa-cubes

        %th{class: "pl-3 pr-1 py-3 text-right"} 
          %i.fa.fa-ad
        %th{class: "pl-3 pr-1 py-3 text-right"} 
          %i.fa.fa-eye
        %th{class: "pl-3 pr-1 py-3 text-right"}
          %i.fa.fa-basket-shopping
        %th{class: "pl-3 pr-1 py-3 text-left"}

        %th{class: "pl-3 pr-1 py-3 text-right"} 
          %i.fa.fa-money-bill-1
        %th{class: "pl-3 pr-1 py-3 text-left"}
        %th{class: "px-3 py-3 text-right"} РК

        - if current_user.access_profit
          %th{class: "px-3 py-3 text-right"} Прибыль
          %th{class: "pl-3 pr-1 py-3 text-right"} Цена
          %th{class: "px-3 py-3 text-left"} 
          %th{class: "px-3 py-3 text-right"} 
            %div PoCS
          %th{class: "px-3 py-3 text-right"} 
            %div ROS


    %tbody{class: 'overflow-y-auto '}
      - @subjects.each do |subject|
        - @orders_stats.each do |order|
          - if order['nm'].object == subject
            %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{class: "font-sans px-6 py-3"}
                %b= link_to order['nm'].supplier_article, nm_nm_path(order['nm'].nm_id)
                %br
                %small.text-info= subject
                / = render 'pricing/chart_nm_customer_price', nm: order['nm1']
              %td{class: "px-3 py-3"}
                = render 'pricing/chart_nm_customer_price', nm: order['nm']
              %td{class: "py-3 text-left w-min"}
                - if order['nm'].position
                  = render 'nm/position', pos: order['nm'].position
              %td{class: "px-3 py-3 text-right"}= order['stock']

              %td{class: "pl-3 pr-1 py-3 text-right text-gray-400"}
                - as = Advert::Stat.find_by nm_id: order['nm'].nm_id, period: @ts_nav
                - if as
                  %div= as.views.to_i
                  %div= as.clicks.to_i
              %td{class: "px-3 py-3 text-right text-gray-400"}
                -# %pre= JSON.pretty_generate @nm_stats.as_json
                - if @nm_stats[order['nm'].nm_id]
                  %div= @nm_stats[order['nm'].nm_id].open_card_count
                  %div= @nm_stats[order['nm'].nm_id].add_to_cart_count
                - else 
                  %div -
              %td{class: "pl-3 pr-1 py-3 text-right"}
                %div= order['qty']
                %div.text-gray-400.text-xs= order['qty_avg'].round(1)
              %td{class: "pr-3 pr-1 py-3 text-left"}
                %br
                - if order['qty_diff'] >= 0.0
                  .text-xs.text-green-700= ("%.f" % order['qty_diff'] ) + "% "
                - else
                  .text-xs.text-red-700= ("%.f" % order['qty_diff']) + "% "


              %td{class: "pl-3 pr-1 py-3 text-right"}
                %div= number_with_precision(order['sum'].round(2), :precision => 0, :delimiter => "'")
                %div.text-gray-400.text-xs= number_with_precision(order['sum_avg'].round(1), :precision => 0, :delimiter => "'")
                  
              %td{class: "pr-3 py-3 text-left"}
                %br
                - if order['sum_diff'] >= 0.0
                  .text-xs.text-green-700= ("%.f" % order['sum_diff'] ) + "% "
                - else
                  .text-xs.text-red-700= ("%.f" % order['sum_diff']) + "% "


              %td{class: "px-3 py-3 text-right"}
                %div= number_with_precision(order['ads'], :precision => 0, :delimiter => "'") 
                - if order['ads'] and order['ads'] > 0 and order['qty'] and order['qty'] > 0 
                  %div.text-xs.text-gray-400= number_with_precision(order['ads'] / order['qty'] , :precision => 2, :delimiter => "'") 
                - else
                  %div.text-xs.text-gray-400 - 

                
                  
              - if current_user.access_profit

                %td{class: "px-3 py-3 text-right"}
                  %div= number_with_precision(order['profit'].round(1), :precision => 0, :delimiter => "'")  
                  %div.text-gray-400.text-xs= "%.2f" % order['profit_per_pcs'].round(2)  
                %td{class: "pl-3 pr-1 py-3 text-right"}
                  %div.text-right= "%.2f" % order['price'].round(2)
                  %div.text-gray-400.text-xs= number_with_precision(order['nm'].price_customer, :precision => 2, :delimiter => "'")  
                %td{class: "pr-3 py-3 text-left"}
                  %div.text-gray-400= order['nm'].price.total
                  - if order['nm'].spp > 0.0
                    %div.text-left.text-xs.text-violet-500= number_with_precision(order['nm'].spp, :precision => 0, :delimiter => "'") + "%"
                  - else
                    %div.text-xs.text-gray-500 -

                %td{class: "px-3 py-3 text-right"}
                  %div= "%.2f" % order['roi'].round(2)  
                %td{class: "px-3 py-3 text-right"}
                  %div= "%.2f" % order['ros'].round(2)  


%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %h2{class: 'mb-2 text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Итоги
  .relative.overflow-x-auto
    %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-900.dark:text-gray-400
      %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr{class: "bg-white border-b dark:bg-gray-800 dark:border-gray-700"}
          %th{scope: "col", class: "px-6 py-3"} Предмет

          %th{class: "px-3 py-3 text-right"}
            %i.fa.fa-basket-shopping

          %th{class: "px-3 py-3 text-right"} μ
          %th{class: "px-3 py-3 text-right"} Δ

          %th{class: "px-3 py-3 text-right"}
            %i.fa.fa-money-bill-1
          %th{class: "px-3 py-3 text-right"} μ
          %th{class: "px-3 py-3 text-right"} Δ

          %th{class: "px-3 py-3 text-right"} РК / CPO

          - if current_user.access_profit

            %th{class: "px-3 py-3 text-right"} Прибыль

            %th{class: "px-3 py-3 text-right"} PoCS
            %th{class: "px-3 py-3 text-right"} ROS

      %tbody
        - @subjects.each do |subject|
          %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-6 py-3"}
              %b= subject
            %td{class: "px-3 py-3 text-right"}= @subjects_total[subject]['qty'].round
            %td{class: "px-3 py-3 text-right"}= number_with_precision(@subjects_total[subject]['qty_avg'].round(2), :precision => 2, :delimiter => "'")
            %td{class: "px-3 py-3 #{@subjects_total[subject]['qty_diff'] > 0 ? 'text-right text-success' : 'text-right text-error'}"}
              = number_with_precision(@subjects_total[subject]['qty_diff'].round(2), :precision => 2, :delimiter => "'")
            %td{class: "px-3 py-3 text-right"}= number_with_precision(@subjects_total[subject]['sum'].round(2), :precision => 2, :delimiter => "'")
            %td{class: "px-3 py-3 text-right"}= number_with_precision(@subjects_total[subject]['sum_avg'].round(2), :precision => 2, :delimiter => "'")
            %td{class: "px-3 py-3 text-right #{@subjects_total[subject]['sum_diff'] > 0 ? 'text-success' : 'text-error'}"}
              = number_with_precision(@subjects_total[subject]['sum_diff'].round(2), :precision => 2, :delimiter => "'")
            %td{class: "px-3 py-3 text-right"}= number_with_precision(@subjects_total[subject]['ads'], :precision => 2, :delimiter => "'")
            - if current_user.access_profit

              %td{class: "px-3 py-3 text-right"}= number_with_precision(@subjects_total[subject]['profit'].round(2), :precision => 2, :delimiter => "'")
              %td{class: "px-3 py-3 text-right"}= number_with_precision(@subjects_total[subject]['roi'].round(2), :precision => 2, :delimiter => "'")
              %td{class: "px-3 py-3 text-right"}= number_with_precision(@subjects_total[subject]['ros'].round(2), :precision => 2, :delimiter => "'")
      %tfoot  
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{scope: "col", class: "px-6 py-3"} Итого
          %td{class: "px-3 py-3 text-right"}= @total['qty'].round
          %td{class: "px-3 py-3 text-right"}= number_with_precision(@total['qty_avg'].round(2), :precision => 2, :delimiter => "'")

          %td{class: "px-3 py-3 text-right #{@total['qty_diff'] > 0 ? 'text-success' : 'text-error'}"}
            = number_with_precision(@total['qty_diff'].round(2), :precision => 2, :delimiter => "'")
          %td{class: "px-3 py-3 text-right"}= number_with_precision(@total['sum'].round(2), :precision => 2, :delimiter => "'")
          %td{class: "px-3 py-3 text-right"}= number_with_precision(@total['sum_avg'].round(2), :precision => 2, :delimiter => "'")
          %td{class: "px-3 py-3 text-right #{@total['sum_diff'] > 0 ? 'text-success' : 'text-error'}"}
            = number_with_precision(@total['sum_diff'].round(2), :precision => 2, :delimiter => "'")
          %td{class: "px-3 py-3 text-right"}= number_with_precision(@total['ads'], :precision => 2, :delimiter => "'")
          - if current_user.access_profit
       
            %td{class: "px-3 py-3 text-right"}= number_with_precision(@total['profit'].round(2), :precision => 2, :delimiter => "'")

            - if @total['roi']
              %td{class: "px-3 py-3 text-right"}= number_with_precision(@total['roi'].round(2), :precision => 2, :delimiter => "'")
            - else
              %td{class: "px-3 py-3 text-right"}

            - if @total['ros']
              %td{class: "px-3 py-3 text-right"}= number_with_precision(@total['ros'].round(2), :precision => 2, :delimiter => "'")
              
            - else
              %td{class: "px-3 py-3 text-right"}




/ .grid-container.full
/   .grid-x.grid-padding-x
/     .cell.large-12
/       %table
/         %thead
/           %tr
/             %th Артикул
/             %th Страна
/             %th Федеральный округ
/             %th Регион
/             %th Количество
/             %th Сумма
/         %tbody
/           - @orders_by_regions.each do |ord|
/             %tr
/               %td= ord.article
/               %td= ord.country
/               %td= ord.district
/               %td= ord.region
/               %td= ord.count
/               %td= number_with_precision(ord.sum, :precision => 2, :delimiter => "'")










/ 
