- ts = Time.now
%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Рабочий стол
%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6 grid-container"}
  .grid.grid-cols-3
    %div{class: "px-1"}
      %h2.text-xl.font-semibold.text-gray-600.mb-2 Поисковые запросы
      - if @nm_ids_for_quering.count > 0
        - @nm_ids_for_quering.each do |nm|
          .bg-white.rounded-md.px-4.mb-2.py-2 
            %div.flex.justify-between.items-center.py-2.text-sm
              = link_to nm.supplier_article, nm_nm_path(id: nm.nm_id), class: 'text-xs font-semibold'
              %div.text-gray-600
                = link_to "Добавить", nm_nm_group_queries_path, class: "font-semibold hover:text-blue-500 text-xs"
            %hr.pb-2
            %div.px-2text-gray-400.text-sm.pb-1 Добавить поисковые запросы для товара


    %div{class: "px-1"}
      %h2.text-xl.font-semibold.text-gray-600.mb-2 Поставки без типа
      - @income_ids.each do |income|
        .bg-white.rounded-md.px-4.mb-2.py-2 
          %div.flex.justify-between.items-center.py-2.text-xs
            %div{class: "font-semibold"} Поставка #{income.income_id} от #{income.date.strftime "%d.%m.%Y"}
            %div.text-gray-600= income.warehouse_name


          %hr.pb-2
          %div.px-2text-gray-400.text-sm.pb-1
            = link_to "Заполнить тип короба", income_income_path(id: income.income_id), class: 'text-blue-400 hover:text-blue-600'



    %div{class: "px-1"}
      %h2.text-xl.font-semibold.text-gray-600.mb-2 События
      - @events.each do |i|
        - i[:events].each do |event|

          .bg-white.rounded-md.px-4.mb-2.py-2 
            %div.flex.justify-between.items-center.py-2.text-xs
              %div{class: "font-semibold"}= event_name_ru i[:name]
              %div.text-gray-600
                - if event.date
                  = datetime_pretty_one(event.date)
                  %i.fa.fa-minus
                  #{distance_of_time_in_words(event.date, ts) } назад
                - else
                  Время не установлено


            %hr.pb-2
            %div.px-2text-gray-400.text-sm.pb-1= event.text

