.row
  .columns.large-12
    %h1 Отчет по прибыли в разрезе тарифов
    
.row
  .columns.large-12
    %table.w-full.px-4.py-6.text-sm.text-left.rtl
      %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %th Номенклатура
          %th.text-right Цена
          %th.text-right Прибыль
          %th ФО
          %th Склад
          %th.text-right Тариф
          %th.text-right Доставка
          %th.text-right Прибыль
          %th.text-right PoCS
          %th.text-right ROS

      %tbody
        - @result.each do |r|
          %tr.tb-border-top
            %td.text-left{rowspan: "#{@tariff_names.count + 1}"}
              %span= link_to r['nm'].supplier_article, edit_nm_nm_path(r['nm'].nm_id)
              %br
              %small= r['nm'].object
            %td.text-right{ rowspan: "#{@tariff_names.count + 1}"}
              =r['price'].total
            %td.text-right{ rowspan: "#{@tariff_names.count + 1}"}
              - nm = r['nm']
              - title = "#{r['price'].total} - (#{nm.cost} + #{(nm.cost_log_in || 0.0)} + #{(nm.cost_package || 0.0)} + #{(nm.cost_packaging || 0.0)} + #{nm.comission_total || 0.0})"
              %span{"data-tooltip": true, class: "top", tabindex: "2", title: title}
                - cost = nm.cost + (nm.cost_log_in || 0.0) + (nm.cost_package || 0.0) + (nm.cost_packaging || 0.0) + (nm.comission_total || 0.0)
                = (r['price'].total - cost).round(2)
                / %br
                / = (r['price'].total - r['nm'].cost_total - r['nm'].comission_total).round(2)


          - @tariff_names.each do |t|
            %tr
              %td
                %b= r['tariffs'][t]['t'].district.name_short
              %td
                %span= t
                %sub= r['tariffs'][t]['log_pal'].round(2)
              %td.text-right (#{r['tariffs'][t]['tar']})
              %td.text-right (#{r['tariffs'][t]['log']})
              %td.text-right{class: "#{r['tariffs'][t]['profit'] < 0 ? 'text-error' : 'text-success'}"}= r['tariffs'][t]['profit']
              %td.text-right{class: "#{r['tariffs'][t]['class']}"}= r['tariffs'][t]['roi']
              %td.text-right{class: "#{r['tariffs'][t]['class']}"}= r['tariffs'][t]['ros']




















/ 