%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Позиции номенклатуры в поиске

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.py-6.text-sm.text-left
    %thead{class: "text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} Категория
        %th{class: "px-6 py-3"} Артикул
        %th{class: "px-6 py-3 text-right"} Акция
        %th{class: "px-6 py-3 text-right"} 
          км
          %br
          %small до склада
        %th{class: "px-6 py-3 text-right"} 
          часов 
          %br
          %small доставки
        %th{class: "px-6 py-3 text-right"} Ставка
        %th{class: "px-6 py-3 text-right"} 
          Позиция
          %br
          %small с учетом РК 
        %th{class: "px-6 py-3 text-right"}
          Позиция
          %br
          %small реальная
        %th{class: "px-6 py-3 text-right", colspan: 2} Дата обновления
    %tbody{class: 'bg-white'}
      - @result.each do |r|
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-6 py-3"}= r[:nm].object
          %td{class: "px-6 py-3"}
            = r[:nm].supplier_article
            / %br
            / %small= r[:nm].object
          - if r[:np]
            %td{class: "px-6 py-3 text-right"}= r[:np].promo
            %td{class: "px-6 py-3 text-right"}= r[:np].dist
            %td{class: "px-6 py-3 text-right"}= r[:np].time1 + r[:np].time2 if r[:np].time1 and r[:np].time2
            %td{class: "px-6 py-3 text-right"}= r[:np].cpm
            %td{class: "px-6 py-3 text-right #{r[:c]}"}= r[:np].position + 1 if r[:np].position
            %td{class: "px-6 py-3 text-right #{r[:c]}"}= r[:np].position_no_advert + 1 if r[:np].position_no_advert
            %td{class: "px-6 py-3 text-right"}
              = "#{distance_of_time_in_words(r[:np].updated_at, Time.now)} назад"
            %td{class: "px-6 py-3 text-right"}
              = r[:np].updated_at.strftime("%H:%M")
              / %br
              = r[:np].updated_at.strftime("%d.%m.%Y")

          - else
            %td -
            %td -
            %td -
            %td -
            %td -
            %td -
    
