%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Воронка продаж
      %small #{@ts_nav.strftime("%d.%m.%Y")}. 

    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to "-1 день", dashboard_nm_stats_path(date: (@ts_nav - 1.days).strftime("%d.%m.%Y")), class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        = link_to "Сегодня", dashboard_nm_stats_path(date: (Time.now).strftime("%d.%m.%Y")), class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        - if Time.now > (@ts_nav + 1.day)
          - dbd_l_path = dashboard_nm_stats_path(date: (@ts_nav + 1.days).strftime("%d.%m.%Y"))
        - else
          - dbd_l_path = "#"
        = link_to "+1 день", dbd_l_path, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"

%div{class: "mx-auto px-4 py-4 sm:px-2 md:px-2 md:pb-2 lg:px-8 lg:pb-6"}


  %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        -# %th{scope: "col", class: "px-6 py-3"} -
        %th{scope: "col", class: "px-6 py-3"} Артикул
        %th{class: "px-3 py-3 text-right"} Остаток
        %th{class: "px-3 py-3 text-right"} Показы
        %th{class: "px-3 py-3 text-right"} В карточку
        %th{class: "px-3 py-3 text-right"} В корзину
        %th{class: "px-3 py-3 text-right"} Заказы
        %th{class: "px-3 py-3 text-right"} Выкупы
        %th{class: "px-3 py-3 text-right"} Отмены
        %th{class: "px-3 py-3 text-right"} Конверсии


    %tbody{class: 'overflow-y-auto '}
      - @stats.each do |stat|
        - nm = Nm::Nm.find_by nm_id: stat.nm_id
        %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "font-sans px-6 py-3"}
            =stat.vendor_code
            %br
            =stat.nm_id
          %td{class: "px-3 py-3 text-right"}= stat.stocks_mp + stat.stocks_wb
          %td{class: "px-3 py-3 text-right"}
            - if nm
              - as = Advert::Stat.find_by nm_id: nm.nm_id, period: @ts
              = as.views.to_i if as
          %td{class: "px-3 py-3 text-right"}=stat.open_card_count
          %td{class: "px-3 py-3 text-right"}=stat.add_to_cart_count
          %td{class: "px-3 py-3 text-right"}
            %div=number_with_precision(stat.orders_sum_rub, :precision => 2, :delimiter => "'")
            %div=stat.orders_count
          %td{class: "px-3 py-3 text-right"}
            %div=number_with_precision(stat.buyouts_sum_rub, :precision => 2, :delimiter => "'")
            %div=stat.buyouts_count
          %td{class: "px-3 py-3 text-right"}
            %div=number_with_precision(stat.cancel_sum_rub, :precision => 2, :delimiter => "'")
            %div=stat.cancel_count
          %td{class: "px-3 py-3 text-right"}
            %div= "#{stat.add_to_cart_percent} % кор"
            %div= "#{stat.cart_to_order_percent} % зак"
            %div= "#{stat.buyouts_percent} % вык"

            
        -# - if order['nm'].object == subject
        -#   %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
        -#     %td{class: "font-sans px-6 py-3"}
        -#       %b= link_to order['nm'].supplier_article, nm_nm_path(order['nm'].nm_id)
        -#       %br
        -#       %small.text-info= subject
        -#       / = render 'pricing/chart_nm_customer_price', nm: order['nm1']
        -#     %td{class: "px-3 py-3"}
        -#       = render 'pricing/chart_nm_customer_price', nm: order['nm']
        -#     %td{class: "py-3 text-left w-min"}
        -#       - if order['nm'].position
        -#         = render 'nm/position', pos: order['nm'].position
        -#     %td{class: "px-3 py-3 text-right"}= order['stock']
        -#     %td{class: "pl-3 pr-1 py-3 text-right"}
        -#       %div= order['qty']
        -#       %div.text-gray-400.text-xs= order['qty_avg'].round(1)
        -#     %td{class: "pr-3 pr-1 py-3 text-left"}
        -#       %br
        -#       - if order['qty_diff'] >= 0.0
        -#         .text-xs.text-green-700= ("%.f" % order['qty_diff'] ) + "% "
        -#       - else
        -#         .text-xs.text-red-700= ("%.f" % order['qty_diff']) + "% "


        -#     %td{class: "pl-3 pr-1 py-3 text-right"}
        -#       %div= number_with_precision(order['sum'].round(2), :precision => 0, :delimiter => "'")
        -#       %div.text-gray-400.text-xs= number_with_precision(order['sum_avg'].round(1), :precision => 0, :delimiter => "'")
                
        -#     %td{class: "pr-3 py-3 text-left"}
        -#       %br
        -#       - if order['sum_diff'] >= 0.0
        -#         .text-xs.text-green-700= ("%.f" % order['sum_diff'] ) + "% "
        -#       - else
        -#         .text-xs.text-red-700= ("%.f" % order['sum_diff']) + "% "


        -#     %td{class: "px-3 py-3 text-right"}
        -#       %div= number_with_precision(order['ads'], :precision => 0, :delimiter => "'") 
        -#       - if order['ads'] and order['ads'] > 0 and order['qty'] and order['qty'] > 0 
        -#         %div.text-xs.text-gray-400= number_with_precision(order['ads'] / order['qty'] , :precision => 2, :delimiter => "'") 
        -#       - else
        -#         %div.text-xs.text-gray-400 - 

              
                
        -#     - if current_user.access_profit

        -#       %td{class: "px-3 py-3 text-right"}
        -#         %div= number_with_precision(order['profit'].round(1), :precision => 0, :delimiter => "'")  
        -#         %div.text-gray-400.text-xs= "%.2f" % order['profit_per_pcs'].round(2)  
        -#       %td{class: "pl-3 pr-1 py-3 text-right"}
        -#         %div.text-right= "%.2f" % order['price'].round(2)
        -#         %div.text-gray-400.text-xs= number_with_precision(order['nm'].price_customer, :precision => 2, :delimiter => "'")  
        -#       %td{class: "pr-3 py-3 text-left"}
        -#         %div.text-gray-400= order['nm'].price.total
        -#         - if order['nm'].spp > 0.0
        -#           %div.text-left.text-xs.text-violet-500= number_with_precision(order['nm'].spp, :precision => 0, :delimiter => "'") + "%"
        -#         - else
        -#           %div.text-xs.text-gray-500 -

        -#       %td{class: "px-3 py-3 text-right"}
        -#         %div= "%.2f" % order['roi'].round(2)  
        -#       %td{class: "px-3 py-3 text-right"}
        -#         %div= "%.2f" % order['ros'].round(2)  

