%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Финансы по остаткам
      %p Расчет прибыли при продаже всех остатков по текущим ценам, с учетом текущих тарифов
      %p Масса всех товаров по складам #{number_with_precision(@whes_mass_total, :precision => 2, :delimiter => "'") }кг, объем  #{number_with_precision(@whes_volume_total, :precision => 2, :delimiter => "'") }м3
        

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.py-6.text-sm.text-left
    %thead{class: "text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{class: "px-6 py-3"} ID
        %th{class: "px-6 py-3"} Категория
        %th{class: "px-6 py-3"} Артикул
        %th{class: "px-6 py-3 text-right"} Остаток, кг
        %th{class: "px-6 py-3 text-right"} Остаток, м3
        %th{class: "px-6 py-3 text-right"} Цена
        %th{class: "px-6 py-3 text-right"} Скидка
        %th{class: "px-6 py-3 text-right"} Остаток
        %th{class: "px-6 py-3 text-right"} Прибыль/шт
        %th{class: "px-6 py-3 text-right"} Прибыль
        %th{class: "px-6 py-3 text-right"} PoCS
        %th{class: "px-6 py-3 text-right"} ROS

    %tbody
      - @result.each do |r|
        %tr{class: "bg-white border-b dark:bg-gray-800 dark:border-gray-700"}
          %td{class: "px-6 py-3"}= r[:nm].nm_id
          %td{class: "px-6 py-3"}= r[:nm].object
          %td{class: "px-6 py-3"}= r[:nm].supplier_article
          %td{class: "px-3 py-3 text-right"}= number_with_precision(r[:mass_total], :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right"}= number_with_precision(r[:volume_total], :precision => 2, :delimiter => "'") 

          %td{class: "px-3 py-3 text-right"}= r[:nm].price.total
          %td{class: "px-3 py-3 text-right"}= r[:nm].price.discount
          %td{class: "px-3 py-3 text-right"}= r[:quantity]
          %td{class: "px-3 py-3 text-right"}= number_with_precision(r[:profit_per_pcs], :precision => 2, :delimiter => "'") 
          %td{class: "text-right px-3 py-3 #{r[:text_class]}"}= number_with_precision(r[:profit], :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right"}= number_with_precision(r[:roi], :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right"}= number_with_precision(r[:ros], :precision => 2, :delimiter => "'") 
          / %td
          /   %pre= JSON.pretty_generate r