.row
  .columns.large-12
    %h1 Статистика продаж по регионам
    
.row
  .columns.large-12
    .table-scroll
      %table
        %thead
          %tr
            %th Номенклатура
            %th ФО
            %th Количество
            / %th Номенклатура
            / %th{colspan: '2'} Цены
            / %th Склад
            / %th.text-right Тариф
            / %th.text-right Доставка
            / %th.text-right Прибыль
            / %th.text-right PoCS
            / %th.text-right ROS

        %tbody
          - @ssbds.each do |r|
            %tr
              %td
                %b= r["nm"] ? r["nm"].supplier_article : r["nm"].as_json
              %td= r["district"].name
              %td= r["quantity"]
              / %td
              /   %b= JSON.pretty_generate r.as_json
              /   %br
              /   %b Артикул
              /   %br
              /   %b V 
              /   %sub ВБ