%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} История остатков
      %small= @ts.strftime("%d.%m.%Y")

%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  .overflow-auto
    %table.table-auto.overflow-scroll.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
      %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %td{class: "px-6 py-3"} Номенклатура
          - @period.times do |i|
            %td{class: "px-3 py-3 text-right"}= (@ts + i.day).strftime("%d.%m")
      %tbody.overflow-x-auto
        - @nms.each do |nm|
          %tr{class: ' hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-6 py-3"}
              %div.font-semibold=nm.supplier_article
              %div.text-xs.text-gray-400=nm.object
            - incomes = Income::Income.quantity_by_day current_user.project, nm, @ts, @ts+@period.days
            - orders = Order::Order.quantity_by_day current_user.project, nm, @ts, @ts+@period.days
            - @period.times do |i|
              - ts = @ts + i.day
              %td{class: "px-3 py-3 font-mono text-right"}
                %div.text-sm= Stock::History.stock_on_date current_user.project, nm, ts
                - order = orders[ts.to_time]
                %div.text-gray-400.text-xs #{(order and order > 0) ? "-#{order}" : '0'}
                - income = incomes[ts.to_time]
                %div.text-gray-400.text-xs #{(income and income > 0) ? "+#{income}" : '0'}
              