%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Партии остатков
      %small= @ts.strftime("%d.%m.%Y")
      - if @ts == Time.now.beginning_of_day
        %small.text-red-600 Тарифицируемые партии на сегодня могут отличаться от фактических

    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to "-1 день", dashboard_stocks_by_incomes_path(date: (@ts - 1.days).strftime("%d.%m.%Y")), class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        = link_to "Сегодня", dashboard_stocks_by_incomes_path(date: (Time.now).strftime("%d.%m.%Y")), class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        - if Time.now > (@ts + 1.day)
          - dbd_l_path = dashboard_stocks_by_incomes_path(date: (@ts + 1.days).strftime("%d.%m.%Y"))
        - else
          - dbd_l_path = "#"
        = link_to "+1 день", dbd_l_path, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"


%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  .overflow-auto
    %table.table-auto.overflow-scroll.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
      %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %td{class: "px-6 py-3"} Номенклатура
          %td{class: "px-6 py-3 text-right"} Поступление
          %td{class: "px-6 py-3 text-right"} Склад
          %td{class: "px-6 py-3 text-right"} Количество
          %td{class: "px-6 py-3 text-right"} Тип
      %tbody.overflow-x-auto
        - @nms.each do |nm|
          %tr{class: ' hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-6 py-3"}
              %div.font-semibold= link_to nm.supplier_article, nm_nm_path(id: nm.nm_id)
              %div.text-xs.text-gray-400=nm.object
            %td{class: "px-6 py-3 text-right"}
              - @stocks[nm.nm_id].each do |s|
                %p= link_to s.gi_id, income_income_path(id: s.gi_id)
            %td{class: "px-6 py-3 text-right"}
              - @stocks[nm.nm_id].each do |s|
                %p= s.warehouse
            %td{class: "px-6 py-3 text-right"}
              - @stocks[nm.nm_id].each do |s|
                %p= s.barcodes_count  
            %td{class: "px-6 py-3 text-right"}
              - @stocks[nm.nm_id].each do |s|
                %p= s.calc_type  

                