%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Планирование отгрузок

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}

  %table.w-full.py-6.text-sm.text-left
    %thead{class: "text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} Артикул
        - @days_name.each do |d|
          %th.text-right=d
        %th{class: "px-3 py-3 text-right"} 
          %i.fa.fa-cubes
          шт
        %th{class: "px-3 py-3 text-right"} 
          %i.fa-regular.fa-clock
          дн
        %th{class: "px-3 py-3 text-right"}  шт/день
        %th{class: "px-3 py-3 text-right"}  
        %th{class: "px-3 py-3 text-right"}  Остаток до

    %tbody
      - @result.each do |stock|
        %tr{class: "bg-white border-b dark:bg-gray-800 dark:border-gray-700"}
          %td{class: "px-6 py-3"}
            =stock['nm'].supplier_article
            %br
            %small=stock['nm'].object
          - @days_name.each do |d|
            - if stock['orders'] and stock['orders'][d]
              %td{class: "px-3 py-3 text-right"}=stock['orders'][d]
            - else
              %td{class: "px-3 py-3 text-right"} 0
          %td{class: "px-3 py-3 text-right"} 
            %b= stock['quantity'].round
          %td{class: "px-3 py-3 text-right"} 
            - if stock['qty_daily'].nan? or stock['qty_daily'] == 0
              \-
            - else
              %b= number_with_precision(stock['qty_daily'], :precision => 2, :delimiter => "'")
          %td{class: "px-3 py-3 text-right"} 
            %b= number_with_precision(stock['qty_per_day'], :precision => 2, :delimiter => "'")
          %th{class: "px-3 py-3 text-right"}  
            - if stock['huge_variance']
              %span{"data-tooltip": true, class: "top ", tabindex: "2", title: "Высокие отклонения по продажам! σ = #{stock['standard_deviation'].round(2)} (среднекв. откл.)"}
                %i.fa.fa-triangle-exclamation.text-warning
              / =stock['standard_deviation']

          %td{class: "px-3 py-3 text-right"} 
            - if not stock['qty_daily'].nan?
              = l((Time.now + stock['qty_daily'].days), format: "%a %d %b") if stock['qty_daily']
















  / 