%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: 'px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Торговый отчет

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %div.table-wrp
    %table.w-full.py-6.text-sm.text-left.w-full
      %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %th{scope: "col", class: "px-6 py-3"} Номенклатура
          %th{class: "px-6 py-3 text-right"} РК
          %th{class: "px-6 py-3 text-right"} Позиция
          %th{class: "px-6 py-3 text-right"} Цена - СПП
          %th{class: "px-6 py-3 text-right"} Цена + СПП
          %th{class: "px-6 py-3 text-right"} СПП
          %th{class: "px-6 py-3 "} Бренд
          %th{class: "px-6 py-3 "} ID
          %th{class: "px-6 py-3 "} Позиция
          %th{class: "px-6 py-3 "} Δ
          %th{class: "px-6 py-3 "} Цена
          %th{class: "px-6 py-3 "} Δ
      %tbody.h-96.overflow-y-auto
        - @nms.each do |nm|
          - nmcs_all = nm.nm_competitor
          - perc = 1.5
          - nmcs = nm.nm_competitor.where("price_with_spp <  #{nm.price_customer * perc}").order(position: :asc)
          - nmcs_count = nmcs.count
          - is_added = false
          - if nmcs_count == 0
            %tr{"is"=>"turbo-frame", class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              = render 'dashboard/trading_nm_data', nm: nm, rowspan: 1
              - if nmcs_count == 0 and nmcs_all.count == 0
                %td.px-4{colspan: 6}= link_to "Добавьте конкурентов для сравнения", nm_nm_path(nm.nm_id), class: 'hover:text-blue-600'

          - else
            - cntr = 0
            - nmcs.each do |nmc|
              - cntr = cntr + 1
              - cl_pt = cntr == 1 ? 'pt-4' : ''
              - cl_pb = nmcs_count == cntr ? 'pb-4' : ''

              %tr{"is"=>"turbo-frame", class: "bg-white #{ cntr == nmcs_count ? 'border-b dark:bg-gray-800 dark:border-gray-700' : ''}"}
                - if is_added == false
                  - is_added = true
                  = render 'dashboard/trading_nm_data', nm: nm, rowspan: nmcs_count
                  
                %td.text-left.px-4{class: "#{cl_pb} #{cl_pt}"}= nmc.raw["brand"]
                %td.text-left.px-4.font-mono{class: "#{cl_pb} #{cl_pt}"}= nmc.nm_id
                %td.text-right.px-4.font-mono{class: "#{cl_pb} #{cl_pt}"}= nmc.position + 1 if nmc.position 
                %td.text-right.px-4.font-mono{class: "#{cl_pb} #{cl_pt}"}
                  - if nm.position and nmc.position and nm.position.position
                    - diff = nmc.position - nm.position.position 
                    - if diff < 0
                      %span.text-red-600.text-right= diff
                - if nmc.price_with_spp <= nm.price_customer
                  %td.text-right.px-4.font-mono{class: "#{cl_pb} #{cl_pt}"}
                    %span.text-red-600.text-right= nmc.price_with_spp.round

                - else
                  %td.text-right.px-4.font-mono{class: "#{cl_pb} #{cl_pt}"}
                    %span.text-gray-500= nmc.price_with_spp.round


                - if nmc.price_with_spp < nm.price_customer
                  %td.text-right.px-4.font-mono{class: "#{cl_pb} #{cl_pt}"}
                    .text-gray-500.min-w-12.text-right= nmc.price_with_spp - nm.price_customer
                - else
                  %td.text-right.px-4.font-mono{class: "#{cl_pb} #{cl_pt}"}
                    .text-gray-500.min-w-12.text-right -
