%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Отчет по складам

    %div.px-4.py-6.text-right
      %div
        %i.fa.fa-cubes
        =@qty_total
      - if current_user.access_profit
        %div 
          Σ 
          %span #{number_with_precision(@sum_total_cost, :precision => 2, :delimiter => "'") }
          %span.px-2 —
          %span #{number_with_precision(@sum_total, :precision => 2, :delimiter => "'") }
%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.px-4.py-6.text-sm.text-left
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} Name
        %th{class: "px-3 py-3 text-right"}  Sum
        %th{class: "px-3 py-3 text-right"}  QTY
        - @whses_with_stocks.each do |w|
          %th{class: "px-3 py-3 text-right"}=w


    %tbody
      - @articles.each do |article|
        %tr{class: "bg-white border-b dark:bg-gray-800 dark:border-gray-700"}
          / %td=article.as_json
          %td{class: "px-6 py-3"}
            =article['supplierArticle']
            %br
            %small=article['object']
          %td{class: "px-3 py-3 text-right"}= number_with_precision(article['sum'], :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right"}= number_with_precision(article['qty_total'], :precision => 2, :delimiter => "'") 
          - @whses_with_stocks.each do |w|
            - if article[w] and article[w].quantity
              %td{class: "px-3 py-3 text-right"}=article[w].quantity
            - else
              %td

