.grid-container.full
  .grid-x.grid-padding-x

    .cell.large-12
      %h1 Итоги м/м
      %table
        %thead
          %tr 
            %th Период
            %th.text-right Масса, т
            %th.text-right Объем, м3
            %th.text-right Сумма
            %th.text-right Количество
        %tbody
          %tr 
            %td Текущий период (#{@period} дн.)
            %td.text-right #{number_with_precision((@mass_total/1000), :precision => 3, :delimiter => "'")}
            %td.text-right #{number_with_precision((@volume_total/1000), :precision => 3, :delimiter => "'")}
            %td.text-right #{number_with_precision((@sum_total), :precision => 2, :delimiter => "'")}
            %td.text-right #{number_with_precision((@cnt_total), :precision => 0, :delimiter => "'")}
          %tr 
            %td Предыдущий период (#{@period} дн.)
            %td.text-right #{number_with_precision((@mass_total_prev/1000), :precision => 3, :delimiter => "'")}
            %td.text-right #{number_with_precision((@volume_total_prev/1000), :precision => 3, :delimiter => "'")}
            %td.text-right #{number_with_precision((@sum_total_prev), :precision => 2, :delimiter => "'")}
            %td.text-right #{number_with_precision((@cnt_total_prev), :precision => 0, :delimiter => "'")}

          %tr 
            %td Изменение тек - пред
            %td.text-right #{number_with_precision(((@mass_total-@mass_total_prev)/1000), :precision => 3, :delimiter => "'")}
            %td.text-right #{number_with_precision(((@volume_total-@volume_total_prev)/1000), :precision => 3, :delimiter => "'")}
            %td.text-right #{number_with_precision(((@sum_total-@sum_total_prev)), :precision => 2, :delimiter => "'")}
            %td.text-right #{number_with_precision(((@cnt_total-@cnt_total_prev)), :precision => 0, :delimiter => "'")}

    .cell.large-12
      %h1 Заказы по категориям
      %p Заказы за последние #{@period} дн.
    .cell.large-12
      / %p
      /   %pre= JSON.pretty_generate @orders_by_cat
      %table
        %thead
          %tr
            %th Категория
            %th.text-right Сумма
            %th.text-right Сумма - #{@period}дн
            %th.text-right Δ
            %th.text-right Количество
            %th.text-right Количество - #{@period}дн
            %th.text-right Δ
            / %th 
        %tbody
          %tr

          - @cats.each do |cat|
            %tr
              %td
                %b= @orders_by_cat[cat][:now].subject
              %td.text-right= number_with_precision(@orders_by_cat[cat][:now].sum.round(2), :precision => 2, :delimiter => "'")
              %td.text-right= number_with_precision(@orders_by_cat[cat][:prev].sum.round(2), :precision => 2, :delimiter => "'") if @orders_by_cat[cat][:prev]
              
              - if @orders_by_cat[cat][:prev]
                - res = @orders_by_cat[cat][:now].sum.round(2) - @orders_by_cat[cat][:prev].sum.round(2)
                %td.text-right= number_with_precision(res, :precision => 2, :delimiter => "'") 
              - else
                %td.text-right= number_with_precision(@orders_by_cat[cat][:now].sum.round(2), :precision => 2, :delimiter => "'") 

              %td.text-right= number_with_precision(@orders_by_cat[cat][:now].cnt, :precision => 0, :delimiter => "'")
              %td.text-right= number_with_precision(@orders_by_cat[cat][:prev].cnt, :precision => 0, :delimiter => "'")  if @orders_by_cat[cat][:prev]
              - if @orders_by_cat[cat][:prev]
                - res = @orders_by_cat[cat][:now].cnt.round(2) - @orders_by_cat[cat][:prev].cnt.round(2)
                %td.text-right= number_with_precision(res, :precision => 2, :delimiter => "'") 
              - else 
                %td.text-right= number_with_precision(@orders_by_cat[cat][:now].cnt.round(2), :precision => 2, :delimiter => "'") 



      / %p Отгруженный объем: #{number_with_precision((@volume_total/1000), :precision => 3, :delimiter => "'")} м3
      / %p Отгруженный объем: #{number_with_precision((@volume_total_prev/1000), :precision => 3, :delimiter => "'")} м3 (предыдущий период)
      / %p Отгруженная масса: #{number_with_precision((@mass_total/1000), :precision => 3, :delimiter => "'")} т
      / %p Отгруженная масса: #{number_with_precision((@mass_total_prev/1000), :precision => 3, :delimiter => "'")} т (предыдущий период)
    .cell.large-12
      %h1 Заказы по номенклатуре
      %p Заказы за последние #{@period} дн.
    .cell.large-12
      %table
        %thead
          %tr
            %th Номенклатура
            %th Категория
            %th Вес, т
            %th Объем, м3
            %th.text-right Сумма
            %th.text-right Сумма - #{@period}дн
            %th.text-right Δ
            %th.text-right Δ %
            %th.text-right Количество
            %th.text-right Количество - #{@period}дн
            %th.text-right Δ
            %th.text-right Δ %
            / %th 
        %tbody
          - @nms.each do |nm|
            %tr
              %td
                %b= @orders[nm][:now].article
              %td
                %small.text-info= @orders[nm][:now].subject
              %td.text-right= number_with_precision((@orders[nm][:nm].unit_mass * @orders[nm][:now].cnt)/1000, :precision => 3, :delimiter => "'")
              %td.text-right= number_with_precision((@orders[nm][:nm].volume * @orders[nm][:now].cnt)/1000, :precision => 3, :delimiter => "'")
              %td.text-right= number_with_precision(@orders[nm][:now].sum.round(2), :precision => 2, :delimiter => "'")
              %td.text-right= number_with_precision(@orders[nm][:prev].sum.round(2), :precision => 2, :delimiter => "'") if @orders[nm][:prev]

              - if @orders[nm][:prev]
                - res = @orders[nm][:now].sum.round(2) - @orders[nm][:prev].sum.round(2)
                - dif = 100 * ((@orders[nm][:now].sum.round(2) / @orders[nm][:prev].sum.round(2))-1)
                %td.text-right= number_with_precision(res, :precision => 2, :delimiter => "'") 
                %td.text-right{class: "#{dif >= 0 ? 'text-success':'text-error'}"}= number_with_precision(dif, :precision => 2, :delimiter => "'") 
              - else
                %td.text-right= number_with_precision(@orders[nm][:now].sum.round(2), :precision => 2, :delimiter => "'") 
                %td 

              %td.text-right= number_with_precision(@orders[nm][:now].cnt, :precision => 0, :delimiter => "'")
              %td.text-right= number_with_precision(@orders[nm][:prev].cnt, :precision => 0, :delimiter => "'")  if @orders[nm][:prev]
              - if @orders[nm][:prev]
                - res = @orders[nm][:now].cnt.round(2) - @orders[nm][:prev].cnt.round(2)
                - dif = 100 * ((@orders[nm][:now].cnt.to_f / @orders[nm][:prev].cnt)-1)
                %td.text-right= number_with_precision(res, :precision => 2, :delimiter => "'") 
                %td.text-right{class: "#{dif >= 0 ? 'text-success':'text-error'}"}= number_with_precision(dif, :precision => 2, :delimiter => "'") 
              - else 
                %td.text-right= number_with_precision(@orders[nm][:now].cnt.round(2), :precision => 2, :delimiter => "'") 
                %td 











/ 
