= form_for @deliveries_scheduled do |f|
  - if @deliveries_scheduled.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deliveries_scheduled.errors.count, "error")} prohibited this deliveries_scheduled from being saved:"
      %ul
        - @deliveries_scheduled.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :period
    = f.datetime_field :period
  .field
    = f.label :warehouse_id
    = f.number_field :warehouse_id
  .actions
    = f.submit 'Save'
