%h1 Listing deliveries_scheduleds

%table
  %thead
    %tr
      %th Period
      %th Warehouse
      %th
      %th
      %th

  %tbody
    - @deliveries_scheduleds.each do |deliveries_scheduled|
      %tr
        %td= deliveries_scheduled.period
        %td= deliveries_scheduled.warehouse_id
        %td= link_to 'Show', deliveries_scheduled
        %td= link_to 'Edit', edit_deliveries_scheduled_path(deliveries_scheduled)
        %td= link_to 'Destroy', deliveries_scheduled, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Scheduled', new_deliveries_scheduled_path
