%p#notice= notice

%p
  %b Period:
  = @deliveries_scheduled.period
%p
  %b Warehouse:
  = @deliveries_scheduled.warehouse_id

= link_to 'Edit', edit_deliveries_scheduled_path(@deliveries_scheduled)
\|
= link_to 'Back', deliveries_scheduleds_path
