= form_for [:nm, @nm_group_query] do |f|
  - if @nm_group_query.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nm_group_query.errors.count, "error")} prohibited this nm_group_query from being saved:"
      %ul
        - @nm_group_query.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label "Название"
    = f.text_field :name
  .field
    = f.label "Запрос"
    = f.text_field :query
  .actions
    = f.submit 'Сохранить', class: 'button'
