.row
  .columns.large-12
    %h1 Редактировать запрос по группам номенклатуры

    = render 'form'

    %ul.menu
      %li= link_to 'Показать', nm_nm_group_query_path(@nm_group_query)
      %li= link_to 'Назад', nm_nm_group_queries_path
