%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: 'px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Поисковые запросы по группам номенклатуры

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %div.table-wrp
    %table.w-full.py-6.text-sm.text-left
      %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %th{scope: "col", class: "px-6 py-3"} Название
          %th{class: "px-6 py-3 "} Запрос
          %th
          %th
          %th
          %th
      %tbody
        - @nm_group_queries.each do |nm_group_query|
          %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-6 py-3"}= link_to nm_group_query.name, nm_nm_group_query_path(nm_group_query) 
            %td{class: "px-6 py-3"}= nm_group_query.query
            %td{class: "px-6 py-3"}
            %td{class: "px-6 py-3"}= link_to "Добавить номенклатуру", nm_nm_group_query_path(nm_group_query) 
            %td{class: "px-6 py-3"}= link_to 'Ред.', edit_nm_nm_group_query_path(nm_group_query)
            %td{class: "px-6 py-3"}= link_to 'Удалить', nm_nm_group_query_path(nm_group_query), method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'Добавить', new_nm_nm_group_query_path, class: 'button'
