%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} #{@nm_group_query.name}
      %div.text-gray-500 Поисковый запрос
      %div.text-sm Запрос "#{@nm_group_query.query}"

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{class: "px-3 py-3"} ID
        %th{class: "px-3 py-3"} Категория
        %th{class: "px-3 py-3"} Артикул
        %th{class: "px-6 py-3"} 


    %tbody
      - @items.each do |i|
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-3 py-3"}= i[:nm].nm_id
          %td{class: "px-3 py-3"}= i[:nm].object
          %td{class: "px-3 py-3"}= i[:nm].supplier_article
          %td{class: "px-3 py-3"}
            = form_with url: nm_nm_group_queries_item_action_path, method: :post do |form|
              = form.hidden_field :nm_id, value: i[:nm].nm_id
              = form.hidden_field :nm_group_query_id, value: @nm_group_query.id
              - cl_btn = "inline-block text-center transition transition-all rounded border-1 border border-solid  px-4 py-0.5 bg-gray-50 text-gray-500"
              - cl_del = "border-gray-400 text-red-800 hover:text-red-600 hover:border-red-600"
              - cl_add = "border-gray-400 text-green-800 hover:text-green-600 hover:border-green-500"
              - if i[:item]
                = form.hidden_field :user_action, value: 'delete'
                %div{class: "#{cl_btn} #{cl_del}"}
                  = form.submit "Удалить"
              - else
                = form.hidden_field :user_action, value: 'add'
                %div{class: "#{cl_btn} #{cl_add}"}
                  = form.submit "Добавить"



  %ul.menu
    %li= link_to 'Ред.', edit_nm_nm_group_query_path(@nm_group_query)
    %li= link_to 'Назад', nm_nm_group_queries_path
