= form_for @advert do |f|
  - if @advert.errors.any?
    #error_explanation
      %h2= "#{pluralize(@advert.errors.count, "error")} prohibited this advert from being saved:"
      %ul
        - @advert.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :project_id
    = f.text_field :project_id, disabled: true
  .field
    = f.label :advert_id
    = f.text_field :advert_id, disabled: true
  .field
    = f.label :name
    = f.text_field :name, disabled: true
  .field
    = f.label :type_id
    = f.number_field :type_id, disabled: true
  .field
    = f.label :max_cpm
    = f.number_field :max_cpm
  .field
    = f.label :min_place
    = f.number_field :min_place
  .field
    = f.label :bid_current
    = f.number_field :bid_current
  .field
    = f.label :search_query
    = f.text_field :search_query
  .field
    = f.label :status
    = f.text_field :status, disabled: true
  .field
    = f.label :param_value
    = f.number_field :param_value, disabled: true
  .field
    = f.label :param_name
    = f.text_field :param_name, disabled: true
  .actions
    = f.submit 'Сохранить', class: 'button'
