-# %pre= JSON.pretty_generate advert.as_json
-# %pre= JSON.pretty_generate stat_auto.as_json
-# %pre= JSON.pretty_generate stat_auto&.cluster&.as_json

= simple_form_for cluster, url: advert_cluster_set_forced_state_path(id: advert.id, cluster_id: cluster.id), method: :post do |f|
  = f.input :forced_state, as: :radio_buttons, collection: [[0, 'По правилам стратегии РК'], [-1, 'Исключить'], [1, 'Включить']], label_method: :second, value_method: :first, label: '', input_html: {onchange: 'this.form.submit();'}