%tr{"id" => "advert.#{advert.id}", "is"=>"turbo-frame", class: 'font-mono  transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
  %td{class: "font-sans px-6 py-3"}= advert_status_icon(advert).html_safe
  %td{class: "font-sans px-3 py-3"}
    = link_to (advert.name || "<Без имени>").gsub('::PumPurum',''), advert
    %div.flex.gap-2.justify-left.items-center
      %span.text-sm.text-gray-400.font-mono= advert.advert_id
      %span.text-sm.text-gray-400.font-mono= adv_type_humanize(advert)
    - if advert.manager_enabled
      %div
        %span{class: 'bg-green-400 px-1 py-0.5 rounded-sm text-white text-xs'} Менеджер
  %td{class: "px-3 py-3 text-right"}
    %div= number_with_precision(advert.sum_today, :precision => 0, :delimiter => "'") 
    %div.text-gray-400
      = number_with_precision(advert.budget_avg_daily, :precision => 0, :delimiter => "'")

  %td{class: "px-3 py-3 text-right #{advert.budget < advert.budget_avg_daily ? 'text-red-600' : '' }"}
    = advert.cpm ? advert.cpm.round : 0
    %br
    %span.text-gray-400= number_with_precision(advert.budget, :precision => 0, :delimiter => "'") 
  %td{class: "px-3 py-3 text-right"}
    - if not advert.is_closed?
      = render 'advert/adverts/form_cpm', advert: advert
  / = number_with_precision(advert.cpm, :precision => 0, :delimiter => "'") 

 
  %td{class: "px-3 py-3 text-right"}
    = advert.budget_max
    %br
    %span.text-gray-400= advert.balance_payment_sum_on_period
  %td{class: "px-3 py-3 text-right"}
    - if not advert.is_closed?
      = render 'advert/adverts/form_budget', advert: advert
  %td{class: "px-3 py-3 text-left"}
    / - if key == :enabled
    - if not advert.is_closed?
      = render 'advert/adverts/params', advert: advert
  / %td{class: "px-3 py-3 text-right"}= link_to 'ред.', edit_advert_advert_path(advert)
  %td{class: "px-3 py-3"}
    - if not advert.is_closed?
      = render 'advert/adverts/index_dropdown_manager', advert: advert
  / %td{class: "px-3 py-3"}
  /   - if not advert.is_closed?
  /     = render 'advert/adverts/index_dropdown_advert', advert: advert

