.relative.inline-block.text-left{"data-controller"=>"dropdown", "data-action"=>"click->dropdown#toggle click@window->dropdown#hide"}
  %button#menu-button{"aria-expanded" => "true", "aria-haspopup" => "true", class: "", type: "button"}
    %div{role: "button", tabindex: "0", "data-dropdown-target" => "button", "class" => "flex select-none"}
      %span РК
      %svg.-mr-1.h-5.w-5.text-gray-400{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20"}
        %path{"clip-rule" => "evenodd", d: "M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", "fill-rule" => "evenodd"}
  %div{"class" => "hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none", "data-dropdown-target"=>"menu", "aria-labelledby" => "menu-button", "aria-orientation" => "vertical", role: "menu", tabindex: "-1"}
    .py-1{role: "none"}
      / Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700"
      %a#menu-item-0.text-gray-700.block.px-4.py-2.text-sm{href: "#", role: "menuitem", tabindex: "-1"} Account settings
      %a#menu-item-1.text-gray-700.block.px-4.py-2.text-sm{href: "#", role: "menuitem", tabindex: "-1"} Support
      %a#menu-item-2.text-gray-700.block.px-4.py-2.text-sm{href: "#", role: "menuitem", tabindex: "-1"} License
