%div{"data-controller"=>"dropdown", "data-action"=>"click->dropdown#toggle click@window->dropdown#hide"}
  %button#menu-button{"aria-expanded" => "true", "aria-haspopup" => "true", class: "hover:text-blue-500 transition", type: "button"}
    %div{role: "button", tabindex: "0", "data-dropdown-target" => "button", "class" => "flex select-none"}
      %span Управление
      %svg.-mr-1.h-5.w-5.text-gray-400{"aria-hidden" => "true", fill: "currentColor", viewbox: "0 0 20 20"}
        %path{"clip-rule" => "evenodd", d: "M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", "fill-rule" => "evenodd"}
  /
    Dropdown menu, show/hide based on menu state.
    
    Entering: "transition ease-out duration-100"
    From: "transform opacity-0 scale-95"
    To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
    From: "transform opacity-100 scale-100"
    To: "transform opacity-0 scale-95"
  %div{"class" => "hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none", "data-dropdown-target"=>"menu", "aria-labelledby" => "menu-button", "aria-orientation" => "vertical", role: "menu", tabindex: "-1"}
    .py-1{role: "none"}
      = link_to "Включить менеджер", advert_advert_action_path(id: advert.advert_id, advert_action: 'manager_start'), class: " hover:text-blue-500 transition text-gray-700 block px-4 py-2 text-sm", remote: true
      = link_to "Выключить менеджер", advert_advert_action_path(id: advert.advert_id, advert_action: 'manager_stop'), class: " hover:text-blue-500 transition text-gray-700 block px-4 py-2 text-sm", remote: true
      %hr
      = link_to "Запустить", advert_advert_action_path(id: advert.advert_id, advert_action: 'run'), class: "text-gray-700 hover:text-blue-500 transition block px-4 py-2 text-sm", remote: true
      = link_to "Пауза", advert_advert_action_path(id: advert.advert_id, advert_action: 'stop'), class: "text-gray-700 hover:text-blue-500 transition block px-4 py-2 text-sm", remote: true
      = link_to "Пополнить бюджет", advert_advert_action_path(id: advert.advert_id, advert_action: 'budget_replenish'), class: " hover:text-blue-500 transition text-gray-700 block px-4 py-2 text-sm", remote: true
      %hr
      = link_to "Завершить", advert_advert_action_path(id: advert.advert_id, advert_action: 'close'), class: "text-red-700 hover:text-red-500 transition block px-4 py-2 text-sm", data: {confirm: "Уверены, что хотите завершить РК #{advert.name}"}, remote: true
