- if advert.type_humanize == "АРК"
  - advert.params.each do |advert_params|
    %div{class: "my-4 grid gap-2 grid-cols-3 grid-flow-col grid-cols-[min-content_1fr] items-center"}
      - nm = Nm::Nm.find_by nm_id: advert_params.nm_id
      %div.min-w-32= link_to nm.supplier_article, nm_nm_path(nm.nm_id) if nm
      %div.text-left
        - if advert_params.carousel
          %span{class: "bg-blue-400 text-white rounded-sm text-white text-sm font-medium px-1.5 py-0.5"} C
        - if advert_params.recom
          %span{class: "bg-blue-400 text-white rounded-sm text-white text-sm font-medium px-1.5 py-0.5"} R
        - if advert_params.booster
          %span{class: "bg-blue-400 text-white rounded-sm text-white text-sm font-medium px-1.5 py-0.5"} B
      %div.text-left= render 'nm/position', nm: nm
- else
  - advert.params.each do |advert_params|
    %p
      %pre= JSON.pretty_generate advert_params.as_json 