- stats_3d = cluster.stats_last_days 3
- stats_7d = cluster.stats_last_days 7
%td{class: "px-3 py-3 text-right"}
  .grid.grid-cols-2.grid-rows-3
    .text-left.text-gray-400 Σ
    .pr-2.text-right= cluster.views
    .text-left.text-gray-400 7 дн.
    .pr-2.text-right= stats_7d.views
    .text-left.text-gray-400 3 дн.
    .pr-2.text-right= stats_3d.views
    
%td{class: "px-3 py-3 text-right"}
  .grid.grid-cols-1.grid-rows-3
    .pr-2.text-right= cluster.clicks
    .pr-2.text-right= stats_7d.clicks
    .pr-2.text-right= stats_3d.clicks
%td{class: "px-3 py-3 text-right"}
  .grid.grid-cols-1.grid-rows-3
    .pr-2.text-right= number_with_precision((cluster.clicks.to_f/cluster.views) * 100, :precision => 4, :delimiter => "'") 
    .pr-2.text-right= number_with_precision((stats_7d.ctr) * 100, :precision => 4, :delimiter => "'") 
    .pr-2.text-right= number_with_precision((stats_3d.ctr) * 100, :precision => 4, :delimiter => "'") 

  
%td{class: "px-3 py-3"}
  - if cluster.excluded 
    Исключен  
-# - if cluster.cliccluster == 0
-#   - cpo = 1.0/0
-# - else
-#   - cpo = @advert.cpm * cluster.views / (1000 * cluster.cliccluster)
-# %td{class: "px-3 py-3 text-right"}= number_with_precision( cpo , :precision => 2, :delimiter => "'")  
-# %td{class: "px-3 py-3 text-right"}= number_with_precision(@profit_worst, :precision => 2, :delimiter => "'")  
%td{class: "px-3 py-3 text-right"}
-#   -# = number_with_precision(@profit_worst / cpo , :precision => 2, :delimiter => "'")  

%td{class: "px-3 py-3 text-right"}
  .grid.grid-cols-1.grid-rows-3
    .pr-2.text-right= number_with_precision(cluster.sum, :precision => 2, :delimiter => "'")  
    .pr-2.text-right= number_with_precision(stats_7d.sum, :precision => 2, :delimiter => "'")  
    .pr-2.text-right= number_with_precision(stats_3d.sum, :precision => 2, :delimiter => "'")  



