= turbo_stream_from "adverts.#{current_project_id}"
%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Рекламные кампании


- @result.each do |key, adverts|
  %div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
    %h2{class: 'mb-2 text-2xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} 
      - if key == :enabled
        В работе
      - else
        Завершенные 
    %div.py-2.flex
      %div.text-xs.px-2.flex.justify-left.items-center
        %span{class: "bg-blue-400 text-white rounded-sm text-white text-xs font-medium px-1.5 py-0.5"} C
        %span{class: "text-xs px-2"} Карточки
      %div.text-xs.px-2.flex.justify-center.items-center
        %span{class: "bg-blue-400 text-white rounded-sm text-white text-xs font-medium px-1.5 py-0.5"} R
        %span{class: "text-xs px-2"} Рекомендации
      %div.text-xs.px-2.flex.justify-center.items-center
        %span{class: "bg-blue-400 text-white rounded-sm text-white text-xs font-medium px-1.5 py-0.5"} B
        %span{class: "text-xs px-2"} Бустер
    %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
      %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %th{class: "px-3 py-3 text-right"}
          %th{class: "px-3 py-3"} Название
          %th{class: "px-3 py-3 text-right"} 
            Расход 
            %span.text-gray-400
              %br
              среднее
          %th{class: "px-3 py-3 text-right"} 
            Ставка
            %br
            %span.text-gray-400 Баланс
          %th{class: "px-3 py-3 text-right"} 

          %th{class: "px-3 py-3 text-left", colspan: 2} 
            Максимальный бюджет
            %div.text-gray-400 сумма пополнений
          / %th{class: "px-3 py-3 text-right"} Менеджер
          %th{class: "px-3 py-3 text-right"} Параметры
          / %th{class: "px-3 py-3 text-right"}
          %th{class: "px-3 py-3 text-right"}

      %tbody{class: 'overflow-y-auto'}
        - adverts.each do |advert|
          = render 'advert/adverts/index_row', advert: advert
    / = link_to 'New Advert', new_advert_path
