%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: 'px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'header-main'}= @advert.name
      %div
        %div.text-sm.pb-4 #{@advert.type_humanize} #{@advert.status_humanize} #{@advert.advert_id}
        %p Баланс: #{@advert.budget} руб. 
        %p Затраты всего: #{@advert_total_sum.round(2)}руб
        %p Среднее в день #{(@advert_total_sum/@days).round(2)}руб
        %p Среднее количество просмотров #{@advert_avg_views}/день


    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to "Список РК", advert_adverts_path, class: "button-group"
        = link_to "Обновить", advert_advert_update_api_path(@advert), class: "button-group"
        = link_to "Восстановить все фразы", advert_flush_excluded_keyword_path(@advert), class: "button-group-alert", remote: true
        = link_to "Очистить фразы", advert_clear_bad_keywords_path(@advert), class: "button-group-alert", remote: true




%div{"data-controller" => "tabs", "data-tabs-active-tab-class" => "", "data-tabs-index-value" => "0"}
  %div{class: "mx-auto px-4 py-2 sm:px-2 md:px-2 md:py-2 lg:px-4 lg:py-4 bg-gray-300"}
    %ul.list-reset.flex.text-gray-700
      %li{"data-action" => "click->tabs#change:prevent", "data-tabs-target" => "tab"}
        %a.inline-block.px-4.hover:text-gray-900{"data-action" => "keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent", href: "#"} Сводка
      %li{"data-action" => "click->tabs#change:prevent", "data-tabs-target" => "tab"}
        %a.inline-block.px-4.hover:text-gray-900{"data-action" => "keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent", href: "#"} Статистика по дням
      %li{"data-action" => "click->tabs#change:prevent", "data-tabs-target" => "tab"}
        %a.inline-block.px-4.hover:text-gray-900{"data-action" => "keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent", href: "#"} Статистика по фразам
  %div{class: "mx-auto px-4 py-4 sm:px-2 md:px-2 md:pb-2 lg:px-8 lg:pb-6"}
    %div{"data-tabs-target" => "panel"}
      %h2{class: 'mb-2 text-2xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Сводка
      %ul.accordion{"data-accordion" => ""}

        %li.accordion-item.pb-4{"data-accordion-item" => ""}
          %a.accordion-title{href: "#"} Параметры РК
          .accordion-content{"data-tab-content" => ""}
            %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
              %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
                %tr
                  %th{scope: "col", class: "px-6 py-3"} Артикул
                  %th{scope: "col", class: "px-6 py-3"} Бустер
                  %th{scope: "col", class: "px-6 py-3"} Карточки
                  %th{scope: "col", class: "px-6 py-3"} Рекомендации
                    
              %tbody{class: 'overflow-y-auto '}
                - Advert::Param.where(advert_id: @advert.advert_id).map do |adparam|
                  - nm = Nm::Nm.find_by nm_id: adparam.nm_id 
                  %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
                    %td{class: "px-3 py-3"}= link_to nm.supplier_article, nm_nm_path(nm)
                    %td{class: "px-3 py-3"}= adparam.booster
                    %td{class: "px-3 py-3"}= adparam.carousel
                    %td{class: "px-3 py-3"}= adparam.recom

        -# %li.accordion-item.pb-4{"data-accordion-item" => ""}
        -#   %a.accordion-title{href: "#"} Ответ API
        -#   .accordion-content{"data-tab-content" => ""}
        -#     %pre= JSON.pretty_generate @advert.response_raw

    %div.hidden{"data-tabs-target" => "panel"}

      %h2{class: 'mb-2 text-2xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Статистика по дням
      %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
        %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
          %tr
            %th{scope: "col", class: "px-6 py-3"} Период
            %th{scope: "col", class: "px-6 py-3"} Номенклатура
            %th{scope: "col", class: "px-6 py-3 text-right"} Сумма
            %th{scope: "col", class: "px-6 py-3 text-right"} Просмотры
            %th{scope: "col", class: "px-6 py-3 text-right"} Клики  
            %th{scope: "col", class: "px-6 py-3 text-right"} CTR, %
            %th{scope: "col", class: "px-6 py-3 text-right"} CPC, руб
            %th{scope: "col", class: "px-6 py-3 text-right"} В корзину
            %th{scope: "col", class: "px-6 py-3 text-right"} Заказы
            %th{scope: "col", class: "px-6 py-3 text-right"} Конверсия
            %th{scope: "col", class: "px-6 py-3 text-right"} Сумма заказов
        %tbody
          - @advert_stats.each do |adstat|
            %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              / %td= adstat.as_json
              - nm = Nm::Nm.find_by(nm_id: adstat.nm_id)
              %td{class: "px-3 py-3"}= adstat.period.strftime "%d.%m.%Y"
              %td{class: "px-3 py-3"}= link_to nm.supplier_article, nm_nm_path(nm.nm_id)
              %td{class: "px-3 py-3 text-right"}= number_with_precision(adstat.sum.round(2), :precision => 2, :delimiter => "'")  
              %td{class: "px-3 py-3 text-right"}= adstat.views
              %td{class: "px-3 py-3 text-right"}= adstat.clicks  
              %td{class: "px-3 py-3 text-right"}= adstat.ctr
              %td{class: "px-3 py-3 text-right"}= adstat.cpc
              %td{class: "px-3 py-3 text-right"}= adstat.atbs
              %td{class: "px-3 py-3 text-right"}= adstat.orders
              %td{class: "px-3 py-3 text-right"}= adstat.cr
              %td{class: "px-3 py-3 text-right"}= number_with_precision(adstat.sum_price.round(2), :precision => 2, :delimiter => "'")  

        

    %div.hidden{"data-tabs-target" => "panel"}
      %h2{class: 'mb-2 text-2xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Статистика по ключевым словам
      - if @min_views
        %p{class: 'mb-2'} Отсечены фразы с количеством показов менее #{number_with_precision(@min_views, :precision => 0, :delimiter => "'")  }
      %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
        %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
          %tr
            %th{scope: "col", class: "px-6 py-3 "} Ключевое слово
            %th{scope: "col", class: "px-6 py-3 text-right"} Принудительный статус
            %th{scope: "col", class: "px-6 py-3 text-right"} Просмотры
            %th{scope: "col", class: "px-6 py-3 text-right"} Клики  
            %th{scope: "col", class: "px-6 py-3 text-right"} CTR, %
            -# %th{scope: "col", class: "px-6 py-3 text-right"} СРО, руб
            -# %th{scope: "col", class: "px-6 py-3 text-right"} П
            %th{scope: "col", class: "px-6 py-3 text-right"} Эффективность
            %th{scope: "col", class: "px-6 py-3 text-right"} 
            %th{scope: "col", class: "px-6 py-3 text-right"} Затраты
        %tbody
          - @advert.clusters.order(views: :desc).where("views > #{@min_views}").each do |cluster|
            %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{class: "px-3 py-3 text-wrap"}
                - css_class = cluster.excluded ? "text-red-500" : "" 
                %div{class: "max-w-sm #{css_class}"}= cluster.cluster_name.strip
              %td
                = render 'advert/adverts/form_cluster_forced_status', advert: @advert, cluster: cluster
              = render_async advert_render_async_cluster_stats_path(id: @advert.id, cluster_id: cluster.id), html_element_name: 'td', replace_container: true,container_id: "async_container_#{cluster.id}" do 
                %tr{class: "px-3 py-3", id: "async_container_#{cluster.id}", colspan: 6}

