= form_for @sales_operation do |f|
  - if @sales_operation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sales_operation.errors.count, "error")} prohibited this sales_operation from being saved:"
      %ul
        - @sales_operation.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :factor
    = f.number_field :factor
  .actions
    = f.submit 'Save'
