%h1 Listing sales_operations

%table
  %thead
    %tr
      %th Name
      %th Factor
      %th
      %th
      %th

  %tbody
    - @sales_operations.each do |sales_operation|
      %tr
        %td= sales_operation.name
        %td= sales_operation.factor
        %td= link_to 'Show', sales_operation
        %td= link_to 'Edit', edit_sales_operation_path(sales_operation)
        %td= link_to 'Destroy', sales_operation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Sales operation', new_sales_operation_path
