%p#notice= notice

%p
  %b Name:
  = @sales_operation.name
%p
  %b Factor:
  = @sales_operation.factor

= link_to 'Edit', edit_sales_operation_path(@sales_operation)
\|
= link_to 'Back', sales_operations_path
