- if event 
  - state_classes = "bg-green-400 border-green-700" if event.status == 'success'
  - state_classes = "bg-red-400 border-red-700" if event.status == 'error'
  - state_classes = "bg-gray-400 border-gray-700" if not ['success', 'error'].include?(event.status)
  
  %div{"data-controller" => "alert", 'data-alert-remove-delay-value'=> 10, 'data-alert-dismiss-after-value'=> 5000, class: "width-min-40 mb-2 max-w-sm w-full shadow-lg rounded px-4 py-3 #{state_classes} rounded relative  border-l-4  text-white pointer-events-auto"}
    .p-2
      .flex.items-start
        .ml-3.w-0.flex-1{class: "pt-0.5"}
          %p.text-sm.leading-5.font-medium= event.text
        .ml-4.flex-shrink-0.flex
          %button.inline-flex.text-white.focus:outline-none.focus:text-gray-300.transition.ease-in-out.duration-150{"data-action" => "alert#close"}
            %svg.h-5.w-5{fill: "currentColor", viewbox: "0 0 20 20"}
              %path{"clip-rule" => "evenodd", d: "M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z", "fill-rule" => "evenodd"}

