- if current_user
	= turbo_stream_from "notifications.#{current_user.project_id}"
	= turbo_frame_tag "notifications.#{current_user.project_id}", class: "fixed inset-x-0 bottom-0 flex flex-col items-end justify-right px-4 py-2 sm:p-2 justify-end z-30 pointer-events-none" 