.relative.overflow-x-auto
  - total_pay = sr.inject(0.0) {|s, i| s+= i.ppvz_for_pay}
  - total_pay_text = number_with_precision(total_pay , :precision => 2, :delimiter => "'") 

  - total_sales = sr.inject(0.0) {|s, i| s+= i.retail_amount}
  - total_sales_text = number_with_precision(total_sales , :precision => 2, :delimiter => "'")


  %p.py-3
    Итого сумма продаж #{total_sales_text} (retail_amount).
    %br
    Итого к перечислению за това #{total_pay_text} (ppvz_for_pay).
  %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %td{class: "px-3 py-3"} nm_id
        %td{class: "px-3 py-3 text-right"} Сумма продаж
        %td{class: "px-3 py-3 text-right"} Штрафы
        %td{class: "px-3 py-3 text-right"} Доплаты
        %td{class: "px-3 py-3 text-right"} Возм. изд. логистики
        -# %td{class: "px-3 py-3 text-right"} РЦ
        -# %td{class: "px-3 py-3 text-right"} Цена
        %td{class: "px-3 py-3 text-right"} Кол-во
        %td{class: "px-3 py-3 text-right"} Доставок
        %td{class: "px-3 py-3 text-right"} Возвратов
        %td{class: "px-3 py-3 text-right"} Сумма логистики
        %td{class: "px-3 py-3 text-right"} К перечислению за товар
        %td{class: "px-3 py-3 text-right"} Итого к перечислению
        %td{class: "px-3 py-3 text-right"} Итого цена

    %tbody
      - sr.each do |s|
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          - nm = Nm::Nm.find_by nm_id: s.nm_id
          %td{class: "px-3 py-3"}
            - if nm
              %div.font-bold.whitespace-nowrap= nm.supplier_article
              %div.text-gray-400.text-sm.whitespace-nowrap= nm.object
            - else
              %div.font-bold <Артикул не найден>
              %div.text-gray-400.text-sm.nowrap= s.nm_id

          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.retail_amount , :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.penalty , :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.additional_payment , :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.rebill_logistic_cost , :precision => 2, :delimiter => "'") 

          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.quantity , :precision => 0, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.delivery_amount , :precision => 0, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.return_amount , :precision => 0, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.delivery_rub , :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right font-mono"}
            = number_with_precision(s.ppvz_for_pay , :precision => 2, :delimiter => "'") 
            - total_pay += s.ppvz_for_pay

          %td{class: "px-3 py-3 text-right"} 
            - sum_total = s.ppvz_for_pay 
            - sum_total += s.rebill_logistic_cost if s.rebill_logistic_cost
            - sum_total += s.additional_payment if s.additional_payment
            - sum_total += s.penalty if s.penalty
            - sum_total += s.delivery_rub if s.delivery_rub
            
            = number_with_precision(sum_total , :precision => 2, :delimiter => "'") 
          %td{class: "px-3 py-3 text-right"} 
            - price_total = sum_total / s.quantity
            = number_with_precision(price_total , :precision => 2, :delimiter => "'") 
