%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Финансовые отчеты

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  .relative.overflow-x-auto
    %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
      %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %th{class: "px-3 py-3 text-left"} Номер недели
          %th{class: "px-3 py-3"} Номер отчета
          %th{class: "px-3 py-3 text-right"} Дата отчета начало
          %th{class: "px-3 py-3 text-right"} Дата отчета конец
          %th{class: "px-3 py-3 text-right"} Дата формирования

      %tbody
        - @sale_reports.each do |s|
          %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-3 py-3 text-left"}= s.date_from.strftime('%-V')
            %td{class: "px-3 py-3"}= link_to s.realizationreport_id, sale_report_path(id: s.realizationreport_id), class: 'text-blue-400'
            %td{class: "px-3 py-3 text-right"}= s.date_from
            
            %td{class: "px-3 py-3 text-right"}= s.date_to
            %td{class: "px-3 py-3 text-right"}= s.create_dt
            
