%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Финансовый отчет #{@rr_id}
      %h2{class: 'text-xl  tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} c #{@period_start.strftime('%d.%m.%Y')} по #{@period_end.strftime('%d.%m.%Y')}
      %div{class: 'text-small  tracking-tight text-gray-500 place-items-center self-center place-self-center justify-items-center'} Количество записей #{@count}
    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to "Загрузить сводку", sale_report_csv_path(id: @rr_id), class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %h1.text-2xl.font-bold.pb-1 Сводка
  - sr = Sale::Report.report(@rr_id, nil, nil)
  = render "sale/reports/table", sr: sr, op: nil, dt: nil

- @doc_type_names.each do |dt|
  %div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}

        
    %h1.text-2xl.font-bold.pb-1 Тип операции: #{ dt != "" ? dt : "<Без имени>"}
    - @operations.each do |op|
      - sr = Sale::Report.report(@rr_id, dt, op)
      - if sr.any?
        %h1.text-xl.font-bold.text-gray-700.pb-3 Операция: #{ op != "" ? op : "<Без имени>"}
        = render "sale/reports/table", sr: sr, op: op, dt: dt 
        