- result = nm.chart_data_real_price 12
- raw_labels = result[0]
- raw_data = result[1]

%div.h-12.w-min.flex
  %canvas{id: "chartjs.#{nm.nm_id}"}

:javascript
  new Chart(document.getElementById("chartjs.#{nm.nm_id}"), {
    type: 'bar',
    data: {
      labels: #{raw_labels.as_json},
      datasets: [{
        data: #{raw_data.as_json},
        borderWidth: 1
      },
      ]
    },
    options: {
      datasets: {
        bar: {
          barPercentage: 0.8,
          categoryPercentage: 0.8,
          borderSkipped: true,
          borderRadius: 0,
          beginAtZero:false ,
          borderColor: "rgba(0,255,0,1)"
        }
      },

      elements: {
        point: {
        radius: 2,
        pointHoverRadius: 5,
        }
      },
      plugins: {
        tooltip: {
          displayColors: false,
          fonts: {
            size: 10
          },
          callbacks: {
            title: function(tooltipItems, data) {
              return '';
            },
            label: function(tooltipItem) {
              var value = tooltipItem.yLabel;
              return value; // Возвращаем только значение
            }
          }
        },
        legend: {
          display: false
        }
      },
      interaction: {
        mode: 'nearest',
        axis: 'x',
        intersect: false
      },
      scales: {
        x: {
          ticks: {display: false, beginAtZero: false},
          title: {display: false},
          grid: {display: false, drawBorder: false},
        },
        y: {
          type: 'linear',
          display: false,
          position: 'right',
          border: {display: false},
          grid: {display: false, drawBorder: false},
          title: {display: false},
          ticks: {display: false},
          min: #{raw_data and raw_data != [] ? raw_data.min * 0.97 : [0] },
          max: #{raw_data and raw_data != [] ? raw_data.max * 1.03 : [0] }

        }
      }

    }
  });
 
/ = column_chart data,library: settings
