= form_with model: [:nm, nm], url: nm_update_price_path(nm), local: true do |f|
  =f.hidden_field :nm_id
  =f.hidden_field :redirect_to, value: pricings_path
  %div{class: "flex flex-nowrap justify-center"}
    %div{class: "flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"}
      %span{class: "flex select-none items-center pl-3 text-gray-500 sm:text-sm"} ROS
      = f.number_field :ros_min, class: "w-24 block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", step: "0.01"
      %button{ type:"submit", class: "rounded-md bg-gray-200  px-3 py-2 text-sm font-semibold text-gray-500 hover:text-white transition shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"} OK
