/ = turbo_frame_tag "nm_#{nm.id}" do

%tr{"id" => "nm_nm_#{nm.id}", "is"=>"turbo-frame", class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
  - unless nm.is_pricing_ready?
    %td{class: "pl-6 pr-2 py-3", colspan: 12} 
      Подготовьте номенклатуру:
      %span.text-blue-600= link_to nm.supplier_article, edit_nm_nm_path(id: nm.nm_id)
  - else
    %td{class: "pl-6 pr-2 py-3"}
      = link_to nm.supplier_article, nm_nm_path(id: nm.nm_id)
      %br
      %small= "#{nm.nm_id}"
      %br
      %small="#{nm.object}"
      %br
      - if nm.volume
        %small= "#{(nm.volume).ceil}л"
      - else
        %small= "-"

    %td{class: "px-2 py-3 text-right"}
      - title = "Себес: #{nm.total_cost} руб. Комиссия: #{nm.comission_total.round(2)} руб. Тариф: #{nm.tariff_worst} руб."

      -# %span{"data-tooltip": true, class: "top", tabindex: "2", title: title}= (nm.total_cost + nm.comission_total.round(2) + nm.tariff_worst).round(2)  
    %td{class: "px-2 py-3 text-right"}
      %small расч.
      %br
      %small тек.
      %br
      %small реал.
    %td{class: "px-2 py-3 text-right text-info"}
      = "#{nm.profit_worst.round(2)}₽"
      %br
      %small= "#{nm.profit_recomended.round(2)}₽"
      %br
      %small
        %b= nm.profit_by_stock ? "#{nm.profit_by_stock.round(2)}₽": '-'

    %td{class: "px-2 py-3 text-right text-info"}
      #{nm.roi_worst ? nm.roi_worst.round(2) : 0  }%
      %br
      %small= "#{nm.roi_min ? nm.roi_min.round(2) : 0}%"
      %br
      %small
        %b= nm.roi_by_stock ? "#{nm.roi_by_stock}%" : '-'
    %td{class: "px-2 py-3 text-right text-info"}
      = "#{nm.pocs_worst ? nm.pocs_worst.round(2) : 0}%"
      %br
      %small= "#{nm.ros_min}%"
      %br
      %small
        %b= nm.ros_by_stock ? "#{nm.ros_by_stock}%" : '-'

    %td{class: "px-2 py-3 text-right"}
      %b= nm.price.total
      %br
      %small= "#{nm.price.price}"
      %br
      %small= "-#{nm.price.discount.round}%"


    %td{class: "px-2 py-3 text-right"}
      %b= nm.recommended_price
      %br
      %small= "#{nm.recommended_price_wb}"
      %br
      %small= "-#{nm.price.discount.round}%"
    %td{class: "px-1 py-3 text-right"}
      - if nm.price_customer
        %b= (nm.recommended_price * (100 - nm.spp) / 100).round  
        %br
        %span.text-xs.text-gray-400= nm.price_customer.round
        %br
        - if nm.spp != 0
          %span.text-xs.text-violet-600= "#{nm.spp}%"
        - else
          %span.text-xs.text-violet-600= "-"
      - else
        = "-"
    %td{class: "px-1 py-3 text-right"}
      = render 'pricing/chart_nm_customer_price', nm: nm

    %td{class: "px-1 py-3 text-right"}
      - if nm.recommended_price_wb > nm.price.price
        %i.fa.fa-triangle-exclamation.text-error
      - if nm.recommended_price_wb < nm.price.price
        %i.fa.fa-triangle-exclamation.text-success
    %td{class: " py-3 text-right"}= link_to 'ред.', edit_nm_nm_path(nm.nm_id)
    %td{class: " py-3 text-right"}
      = turbo_frame_tag  do
        = render 'pricing/form', nm: nm


 


    %td{class: "px-6 py-3 text-center"}= link_to 'Установить', pricings_update_prices_item_path(nm.nm_id), class: 'block transition rounded-md bg-gray-200  px-3 py-2 text-sm font-semibold text-gray-500 hover:text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600'
