.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Продажи #{@nm.supplier_article}
      = link_to 'Назад', pricings_path, class: 'button'
      :css
        .axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }

        .line {
            fill: none;
            stroke-width: 2px;
        }

        .line.price {
            stroke: blue;
        }

        .line.sales {
            stroke: green;
        }
           
      :javascript
        // Замените 'API_ENDPOINT' на актуальный URL вашего API
        // const apiEndpoint = '';

        // Функция для создания графика
        function createChart(data) {
            const margin = { top: 20, right: 80, bottom: 30, left: 50 },
                  width = 950 - margin.left - margin.right,
                  height = 300 - margin.top - margin.bottom;

            const x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
                  y0 = d3.scaleLinear().range([height, 0]), // Для продаж (бары)
                  y1 = d3.scaleLinear().range([height, 0]); // Для цены (линия)

            const xAxis = d3.axisBottom(x);
            const yAxisLeft = d3.axisLeft(y0);
            const yAxisRight = d3.axisRight(y1);

            const line = d3.line()
              .x(d => x(d.date) + x.bandwidth() / 2) // Выравниваем точку линии по центру бара
              .y(d => y1(d.price));

            const svg = d3.select("body").append("svg")
              // .attr("width", width + margin.left + margin.right)
              // .attr("height", height + margin.top + margin.bottom)
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 960 500")

            .append("g")
              .attr("transform", `translate(${margin.left},${margin.top})`);

            min_value_price = data.reduce(function(prev, curr) {
                return prev.price < curr.price ? prev.price : curr.price;
            });
            x.domain(data.map(d => d.date));
            y0.domain([0, d3.max(data, d => d.sales)]);
            y1.domain([min_value_price * 0.95, d3.max(data, d => d.price)]);

            svg.append("g")
              .attr("class", "x axis")
              .attr("transform", `translate(0,${height})`)
              .call(xAxis);

            svg.append("g")
              .attr("class", "y axis axisLeft")
              .call(yAxisLeft);

            svg.append("g")
              .attr("class", "y axis axisRight")
              .attr("transform", `translate(${width},0)`)
              .style("fill", "orange")
              .call(yAxisRight);

            // Добавляем бары для продаж
            svg.selectAll(".bar.sales")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar sales")
              .style("fill", "steelblue")
              .attr("x", d => x(d.date))
              .attr("width", x.bandwidth())
              .attr("y", d => y0(d.sales))
              .attr("height", d => height - y0(d.sales));

            // Добавляем линию для цены
            svg.append("path")
              .data([data])
              .attr("class", "line")
              .style("stroke", "orange")
              .attr("d", line)

          // Всплывающая подсказка
          const tooltip = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);
            
          // Добавляем точки на каждую из линий данных и настраиваем всплывающие подсказки
          svg.selectAll(".dot")
            .data(data)
          .enter().append("circle")
            .attr("r", 0)
            .attr("cx", d => x(d.date))
            .attr("cy", d => y0(d.sales))
            .attr("fill", "steelblue")
            .on("mouseover", (event, d) => {
              tooltip.transition()
                .duration(10)
                .style("opacity", .9);
              tooltip.html(`Date: ${d.date}<br/>Sales: ${d.sales}<br/>Price: ${d.price}` )
                .style("left", `${event.pageX}px`)
                .style("top", `${event.pageY - 28}px`);
            })
            .on("mouseout", () => {
              tooltip.transition()
                .duration(10000)
                .style("opacity", 0);
            });

          svg.selectAll(".dot")
            .data(data)
          .enter().append("circle")
            .attr("r", 3)
            .attr("cx", d => x(d.date))
            .attr("cy", d => y1(d.price))
            .attr("fill", "orange")
            .on("mouseover", (event, d) => {
              tooltip.transition()
                .duration(10)
                .style("opacity", .9);
              tooltip.html(`Date: ${d.date}<br/>Sales: ${d.sales}<br/>Price: ${d.price}` )
                .style("left", `${event.pageX}px`)
                .style("top", `${event.pageY - 28}px`);
            })
            .on("mouseout", () => {
              tooltip.transition()
                .duration(10000)
                .style("opacity", 0);
            });
        }



        // Функция для получения данных из API и запуска отрисовки графика
        async function fetchDataAndCreateChart() {
            try {
                const response = await fetch('#{@endpoint}');
                const rawData = await response.json();

                // Преобразование данных, если требуется
                const data = rawData.map(d => {
                    return {
                        date: new Date(d.date), // Преобразовываем строку в объект Date
                        price: +d.price,        // Преобразовываем строку в число
                        sales: +d.sales         // Преобразовываем строку в число
                    };
                });

                createChart(data); // Вызов функции создания графика с полученными данными
            } catch (error) {
                console.error('Error fetching data: ', error);
            }
        }

        // Запуск функции для получения данных и дальнейшего отображения их на графике
        document.addEventListener("turbo:load", function () {
          console.log('sdfds');
          fetchDataAndCreateChart();
        });
        fetchDataAndCreateChart();
