%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Ценообразование


%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.py-6.text-sm.text-left
    %thead{class: "top-0 sticky text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} Номенклатура
        %th{class: "px-6 py-3 text-right"} Себес
        %th{class: "px-6 py-3 text-right"} 
        %th{class: "px-2 py-3 text-right"} Прибыль
        %th{class: "px-2 py-3 text-right"} PoCS
        %th{class: "px-2 py-3 text-right"} ROS
        %th{class: "px-2 py-3 text-right"} 
          Цена
          %br
          %span.text-xs.text-gray-400 тек.
        %th{class: "px-2 py-3 text-right"} 
          Цена
          %br
          %span.text-xs.text-gray-400 план.
        %th{class: "px-1 py-3 text-right"} 
          Цена
          %br
          %span.text-xs.text-gray-400 СПП
        %th{class: "px-1 py-3 text-right"} 
        %th{class: " py-3 text-right"} 
        %th{class: " py-3 text-right"} 
        %th{class: "px-6 py-3 "} 
        %th{class: "px-6 py-3 text-right"} 
    %tbody
      / = turbo_stream_from "pricing_item"
      - @result.map do |nm|
        = render 'pricing/item', nm: nm

/ 