%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Ценообразование по складам


%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6 overflow-x-auto"}
  %table.w-full.py-6.text-sm.text-left
    %thead{class: "top-0 sticky text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3", rowspan: 2} Номенклатура
        %th{scope: "col", class: "px-6 py-3 ", rowspan: 2} Тип
        - @tariffs.each do |wh|
          %th{class: "px-6 py-3 text-right", colspan: 2}=wh.tariff.warehouseName
      %tr
        -# %th{class: "px-6 py-3 text-left", colspan: 2} 
        - @tariffs.each do |wh|
          %th{class: "px-6 py-3 text-right"} Короб
          %th{class: "px-6 py-3 text-right"} Моно
          -# %th{class: "px-6 py-3 text-right"} POCS
    %tbody{class: ''}
      / = turbo_stream_from "pricing_item"
      - @nms.map do |nm|


        %tr{"id" => "nm_#{nm.id}", "is"=>"turbo-frame", class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          - unless nm.is_pricing_ready?
            %td{class: "pl-6 pr-2 py-3", colspan: 12} 
              Подготовьте номенклатуру:
              %span.text-blue-600= link_to nm.supplier_article, edit_nm_nm_path(id: nm.nm_id)
          - else
            %td{class: "pl-6 pr-2 py-3"}
              = link_to nm.supplier_article, nm_nm_path(id: nm.nm_id)
              %br
              %small= "#{nm.nm_id}"
              %br
              %small="#{nm.object}"
              %br
              - if nm.volume
                %small= "#{(nm.volume).ceil}л -" + " #{nm.ros_min}% / " +  "#{nm.roi_min}%"
              - else
                %small= "- #{nm.ros_min}% / #{nm.roi_min}%"
          %td{class: "pl-6 pr-2 py-3 "}
            %div Прибыль
            %div POCS
            %div ROS
          - @tariffs.each do |ta|
            - profit_box = nm.profit_with_logistics(ta.tariff, "Короб")
            - profit_mono = nm.profit_with_logistics(ta.tariff, 'Моно')
            
            - roi_box = 100.0 * profit_box / nm.total_cost
            - roi_mono = 100.0 * profit_mono / nm.total_cost
            - ros_box = 100.0 * profit_box / nm.price.total
            - ros_mono = 100.0 * profit_mono / nm.price.total

            -# - box_class = profit_box < 0 ? 'text-red-400' : 'text-gray-500'
            -# - mono_class = profit_mono < 0 ? 'text-red-400' : 'text-gray-500'
            - if nm.roi_min
              - roi_box_class = roi_box < nm.roi_min ? 'text-red-400' : 'text-gray-500'
              - roi_mono_class = roi_mono < nm.roi_min ? 'text-red-400' : 'text-gray-500'

            - if nm.ros_min
              - ros_box_class = profit_box < nm.ros_min ? 'text-red-400' : 'text-gray-500'
              - ros_mono_class = ros_mono < nm.ros_min ? 'text-red-400' : 'text-gray-500'
           
            %td{class: "pl-6 pr-2 py-3 text-right "}
              %div{class: "#{}"}=number_with_precision(profit_box, :precision => 2, :delimiter => "'")
              %div{class: "#{roi_box_class} text-xs"}=number_with_precision(roi_box, :precision => 1, :delimiter => "'") + "%"
              %div{class: "#{ros_box_class} text-xs"}=number_with_precision(ros_box, :precision => 1, :delimiter => "'") + "%"
            %td{class: "pl-6 pr-2 py-3 text-right "}
              %div{class: "#{}"}=number_with_precision(profit_mono, :precision => 2, :delimiter => "'")
              %div{class: "#{roi_mono_class} #{roi_box_class} text-xs"}=number_with_precision(roi_mono, :precision => 1, :delimiter => "'") + "%"
              %div{class: "#{ros_mono_class} text-xs"}=number_with_precision(ros_mono, :precision => 1, :delimiter => "'") + "%"
