- if defined? pos
  = turbo_frame_tag "nm_position.#{pos.nm_id}", action: 'update' do 

    = link_to nm_nm_group_queries_update_nm_positions_path(nm_id: pos.nm_id), :data => {confirm: 'Уверены, что хотите запустить задание на обновление позиций? Это списывает деньги со счета и слишком часто вообще не стоит, ВБ ругается!'}, remote: true do 
      - if pos and pos.position and pos.position_no_advert
        - if pos.position == pos.position_no_advert
          %span{class:"text-sm font-medium  p-2.5 py-0.5 #{pos.position > 4? 'text-red-700' : ''}"}= pos.position + 1
        - else
          %span.inline-flex.bg-white.rounded-md.border.border-blue-200.text-xs.items-center
            %span{class:"bg-blue-100 text-gray-600 text-sm font-medium ml-0 px-1.5 py-0.5 rounded-l-md"}= pos.position + 1
            %span{class: "text-gray-500 text-sm font-medium px-1.5 py-0.5 border-l border-blue-200"}= pos.position_no_advert + 1
            %span{class: "text-gray-500 text-xs font-medium px-1.5 py-0.5 border-l border-blue-200"}= "#{pos.cpm}Р"
      - else
        %span{class:"text-sm font-medium  px-1.5 py-0.5 rounded"} -



