= form_for @task_manager_task do |f|
  - if @task_manager_task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task_manager_task.errors.count, "error")} prohibited this task_manager_task from being saved:"
      %ul
        - @task_manager_task.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label "Категория"
    = f.collection_select :category_id, TaskManager::Category.where(project_id: current_user.project_id), :id, :title

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :text
    = f.text_area :text

    = f.hidden_field :project_id
  / .field
  /   = f.label :status_id
  /   = f.number_field :status_id
  .actions
    = f.submit 'Save'
