.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Редактирование задачи

			= render 'form'

			= link_to 'Show', @task_manager_task
			\|
			= link_to 'Back', task_manager_tasks_path
