.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Список задач

      %table
        %thead
          %tr
            / %th Text
            %th Title
            %th Category
            / %th Project
            %th Status
            %th
            %th
            %th

        %tbody
          - @task_manager_tasks.each do |task_manager_task|
            %tr
              / %td= task_manager_task.text
              %td= link_to task_manager_task.title, task_manager_task
              %td= task_manager_task.category.title if task_manager_task.category
              / %td= task_manager_task.project_id
              %td= task_manager_task.status.title if task_manager_task.status
              / %td= link_to 'Show', task_manager_task_path(task_manager_task)
              %td= link_to 'Edit', edit_task_manager_task_path(task_manager_task)
              %td= link_to 'Destroy', task_manager_task_path(task_manager_task), method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to 'New Task', new_task_manager_task_path
