.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Задача

      %p#notice= notice

      %p
        %b Text:
        = @task_manager_task.text
      %p
        %b Title:
        = @task_manager_task.title
      %p
        %b Category:
        = @task_manager_task.category_id
      %p
        %b Project:
        = @task_manager_task.project_id
      %p
        %b Status:
        = @task_manager_task.status_id

      = link_to 'Edit', edit_task_manager_task_path(@task_manager_task)
      \|
      = link_to 'Back', task_manager_tasks_path
