%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Вход
 
%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field
      = f.label "Пароль"
      %br/
      = f.password_field :password, autocomplete: "current-password"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label "Запомнить меня"
    .actions
      = f.submit "Войти", class: 'button'
  = render "users/shared/links"
