.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Приоритет складов по федеральным округам и странам
      - @priorities.each do |point, list|
        %h2= Deliveries::PickupPoint.find(point).name
        %table
          %thead
            %tr
              / %th Округ/страна
              %th.text-right Склад ID
              %th Склад 
              %th Время доставки, час
          %tbody
            - list.each do |pr|
              %tr
                / %td= pr.point.name
                %td.text-right= pr.warehouse_web_id
                %td= pr.warehouse.name if pr.warehouse
                %td= pr.time
                / - wh = Warehouse.find_by name: pr.warehouse.name_mapping
                / %td= wh.as_json
            / %pre= JSON.pretty_generate pr.as_json