= form_for @nm_customer_discount do |f|
  - if @nm_customer_discount.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nm_customer_discount.errors.count, "error")} prohibited this nm_customer_discount from being saved:"
      %ul
        - @nm_customer_discount.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :spp
    = f.number_field :spp
  / .field
  /   = f.label :category_id
  /   = f.number_field :category_id
  .field
    = f.label :bound_left
    = f.text_field :bound_left
  .field
    = f.label :bound_right
    = f.text_field :bound_right
  .field
    = f.label :nm_group_query_id
    = f.number_field :nm_group_query_id
  .actions
    = f.submit 'Save'
