.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
 
      %h1 Editing nm_customer_discount

      = render 'form'

      = link_to 'Show', nm_nm_customer_discount_path(@nm_customer_discount)
      \|
      = link_to 'Back', nm_nm_customer_discounts_path
