.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
       
      %h1 Listing nm_customer_discounts

      %table
        %thead
          %tr
            %th Spp
            / %th Category
            %th Bound left
            %th Bound right
            %th Nm group query
            %th
            %th
            %th

        %tbody
          - @nm_customer_discounts.each do |nm_customer_discount|
            %tr
              %td= nm_customer_discount.spp
              / %td= nm_customer_discount.category_id
              %td= nm_customer_discount.bound_left
              %td= nm_customer_discount.bound_right
              %td= nm_customer_discount.nm_group_query.name
              %td= link_to 'Show', nm_nm_customer_discount_path(nm_customer_discount)
              %td= link_to 'Edit', edit_nm_nm_customer_discount_path(nm_customer_discount)
              %td= link_to 'Destroy', nm_nm_customer_discount_path(nm_customer_discount), method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to 'New Nm customer discount', new_nm_nm_customer_discount_path
