.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
 
      %p#notice= notice

      %p
        %b Spp:
        = @nm_customer_discount.spp
      / %p
      /   %b Category:
      /   = @nm_customer_discount.category_id
      %p
        %b Bound left:
        = @nm_customer_discount.bound_left
      %p
        %b Bound right:
        = @nm_customer_discount.bound_right
      %p
        %b Nm group query:
        = @nm_customer_discount.nm_group_query_id

      = link_to 'Edit', edit_nm_nm_customer_discount_path(@nm_customer_discount)
      \|
      = link_to 'Back', nm_nm_customer_discounts_path
