= form_for @nm_group_competitor do |f|
  - if @nm_group_competitor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nm_group_competitor.errors.count, "error")} prohibited this nm_group_competitor from being saved:"
      %ul
        - @nm_group_competitor.errors.full_messages.each do |message|
          %li= message


  .field
    = f.label "Название"
    = f.text_field :name
  .field
    = f.label "Номенклатура для сравнения"
    %select{name: 'nm_group_competitor[nm_id]'}
      - @nms.each do |t|
        %option{value: t.nm_id, selected: @nm_group_competitor["nm_id"] == t.nm_id}= "#{t.supplier_article} (ID: #{t.nm_id})"


  .actions
    = f.submit 'Сохранить', class: 'button'
