.row
  .columns.large-12
    %h1 Группы номенклатуры для конкурентного анализа

    %table
      %thead
        %tr
          %th Название
          %th Категория
          %th Номенклатура
          %th
          %th
          %th

      %tbody
        - @nm_group_competitors.each do |nm_group_competitor|
          %tr
            - nm = Nm::Nm.find_by(nm_id: nm_group_competitor.nm_id)
            %td= link_to nm_group_competitor.name, nm_nm_group_competitor_path(nm_group_competitor)
            %td= nm.object
            %td= nm.supplier_article
            %td= link_to 'ред.', edit_nm_nm_group_competitor_path(nm_group_competitor)
            %td= link_to 'Удалить', nm_nm_group_competitor_path(nm_group_competitor), method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'Добавить', new_nm_nm_group_competitor_path, class: 'button'
