.row
  .columns.large-12
    %p#notice= notice

    %p
      %b Nm:
      = @nm_group_competitor.nm_id
    %p
      %b Name:
      = @nm_group_competitor.name


    %ul.menu
      %li= link_to 'Ред.', edit_nm_nm_group_competitor_path(@nm_group_competitor)
      %li= link_to 'Назад', nm_nm_group_competitors_path

