= simple_form_for @ip, url: income_planned_update_path(income_id: @ip.id), method: :post do |f|
  =f.hidden_field :id, value: @ip.id
  =f.input :period, value: @ip.period, as: :date, html5: true
  =f.select :warehouse_id, warehouses.map {|t| [t.name, t.id] }
  =f.submit



      