%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} План поставок

    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to "Создать", income_planned_create_path, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
        = link_to "Архив", income_planned_archived_path, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"




%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}

  %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"}  id
        %th{scope: "col", class: "px-6 py-3"}  wh id
        %th{scope: "col", class: "px-6 py-3 text-right"} Товары
        %th{scope: "col", class: "px-6 py-3 text-right"} period
        %th{scope: "col", class: "px-6 py-3 text-right"} 
        %th{scope: "col", class: "px-6 py-3 text-right"} 

    %tbody{class: 'overflow-y-auto '}
      - if @planned.count == 0
        %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-6 py-3", colspan: 6} Не найдено ни одной поставки
      - else
        - @planned.each do |plan|
          %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-6 py-3"}= plan.id
            %td{class: "px-6 py-3"}
              - if plan.warehouse_id
                = plan.warehouse.name
              - else
                Склад не указан
            %td{class: "px-6 py-3 text-right"}= plan.items.count
            %td{class: "px-6 py-3 text-right"}= plan.period
            %td{class: "px-6 py-3 text-right"}= link_to 'Открыть', income_planned_show_path(plan), class: 'text-blue-400'
            %td{class: "px-6 py-3 text-right"}= link_to 'Удалить', income_planned_delete_path(plan), class: 'text-red-400'
  