%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Запланированная поставка


%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  = render 'income/planned/form_head', warehouses: @warehouses, ip: @ip

%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} Артикул
        %th{scope: "col", class: "px-6 py-3"}  quantity

    %tbody{class: 'overflow-y-auto '}
      - @ip.items.each do |item|
        %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          -# %td{class: "px-6 py-3"}= JSON.pretty_generate item.as_json
          %td{class: "px-6 py-3"}= item.nm.supplier_article
          %td{class: "px-6 py-3 text-`"}= item.quantity
 