= form_for @delivery_method do |f|
  - if @delivery_method.errors.any?
    #error_explanation
      %h2= "#{pluralize(@delivery_method.errors.count, "error")} prohibited this delivery_method from being saved:"
      %ul
        - @delivery_method.errors.full_messages.each do |message|
          %li= message


  / .field
  /   = f.label "Период"
  /   = f.date_field :period
  .field
    = f.label "Название"
    = f.text_field :name
  .field
    = f.label "Тариф"
    %select{name:"delivery_method[tariff_id]"}
      - @tariffs.each do |t|
        %option{value: t.id, selected: @delivery_method["tariff_id"] == t.id}= "#{t.warehouseName} (ID: #{t.id})"

  .field
    = f.label "Цена 1 палеты"
    = f.text_field :price
 
  .field
    = f.label "Время доставки (дней)"
    = f.text_field :time_delivery

  .actions
    = f.submit 'Отправить', class: 'button'
