.row
  .columns.large-12
    %h1 Способы доставки

    %table
      %thead
        %tr
          / %th Дата
          %th Название
          %th Тариф ID
          %th Тариф
          %th Время доставки (дней)
          %th.text-right Цена
          %th.text-right
          %th.text-right

      %tbody
        - @delivery_methods.each do |delivery_method|
          %tr
            / %td= delivery_method.period
            %td= delivery_method.name
            %td= delivery_method.tariff_id
            %td= Tariff::Tariff.find_by_id(delivery_method.tariff_id).warehouseName
            %td= delivery_method.time_delivery
            %td.text-right= delivery_method.price
            %td.text-right= link_to 'Ред.', edit_delivery_method_path(delivery_method)
            %td.text-right= link_to 'Удалить', delivery_method, method: :delete, data: { confirm: 'Уверены?' }

    %br

    = link_to 'Добавить', new_delivery_method_path, class: 'button'
