.row
  .columns.large-12
    %p#notice= notice

    %p
      %b Period:
      = @delivery_method.period
    %p
      %b Name:
      = @delivery_method.name
    %p
      %b Tariff:
      = @delivery_method.tariff_id
    %p
      %b Price:
      = @delivery_method.price

    %ul.menu
      %li= link_to 'Edit', edit_delivery_method_path(@delivery_method)
      %li= link_to 'Back', delivery_methods_path
