= form_for @task_manager_status do |f|
  - if @task_manager_status.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task_manager_status.errors.count, "error")} prohibited this task_manager_status from being saved:"
      %ul
        - @task_manager_status.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :color
    = f.text_area :color
  .actions
    = f.submit 'Save'
