.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Редактировать статус
      

      = render 'form'

      = link_to 'Show', @task_manager_status
      \|
      = link_to 'Back', task_manager_statuses_path
