.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Список статусов задач

      %table
        %thead
          %tr
            %th Title
            %th Color
            %th
            %th
            %th

        %tbody
          - @task_manager_statuses.each do |task_manager_status|
            %tr
              %td= task_manager_status.title
              %td= task_manager_status.color
              %td= link_to 'Show', task_manager_status
              %td= link_to 'Edit', edit_task_manager_status_path(task_manager_status)
              %td= link_to 'Destroy', task_manager_status, method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to 'New Status', new_task_manager_status_path
