.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Список статусов задач

      %p#notice= notice

      %p
        %b Title:
        = @task_manager_status.title
      %p
        %b Color:
        = @task_manager_status.color

      = link_to 'Edit', edit_task_manager_status_path(@task_manager_status)
      \|
      = link_to 'Back', task_manager_statuses_path
