= form_for @app_global_constant do |f|
  - if @app_global_constant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@app_global_constant.errors.count, "error")} prohibited this app_global_constant from being saved:"
      %ul
        - @app_global_constant.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :value
    = f.text_field :value
  .field
    = f.label :value_type
    = select('app_global_constant', :value_type, [['Строка', 'string'], ["Число", 'float']])
  .actions
    = f.submit 'Сохранить', class: 'button'
