.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Редактирование константы

      = render 'form'

      = link_to 'Показать', @app_global_constant, class: 'button'
      = link_to 'Назад', app_global_constants_path, class: 'button'
