.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Константы приложения

      %table
        %thead
          %tr
            %th Name
            %th Value
            %th Value type
            %th
            %th
            %th

        %tbody
          - @app_global_constants.each do |app_global_constant|
            %tr
              %td= app_global_constant.name
              %td= app_global_constant.value
              %td= app_global_constant.value_type
              %td= link_to 'Show', app_global_constant
              %td= link_to 'Edit', edit_app_global_constant_path(app_global_constant)
              %td= link_to 'Destroy', app_global_constant, method: :delete, data: { confirm: 'Are you sure?' }



      = link_to 'Добавить', new_app_global_constant_path, class: 'button'
