.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %p#notice= notice

      %p
        %b Name:
        = @app_global_constant.name
      %p
        %b Value:
        = @app_global_constant.value
      %p
        %b Value type:
        = @app_global_constant.value_type

      = link_to 'Ред.', edit_app_global_constant_path(@app_global_constant), class: 'button'
      \|
      = link_to 'Назад', app_global_constants_path, class: 'button'
