= form_for @deliveries_scheduled_item do |f|
  - if @deliveries_scheduled_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deliveries_scheduled_item.errors.count, "error")} prohibited this deliveries_scheduled_item from being saved:"
      %ul
        - @deliveries_scheduled_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :nm_id
    = f.number_field :nm_id
  .field
    = f.label :qty
    = f.number_field :qty
  .field
    = f.label :deliveries_sheduled_id
    = f.number_field :deliveries_sheduled_id
  .actions
    = f.submit 'Save'
