%h1 Listing deliveries_scheduled_items

%table
  %thead
    %tr
      %th Nm
      %th Qty
      %th Deliveries sheduled
      %th
      %th
      %th

  %tbody
    - @deliveries_scheduled_items.each do |deliveries_scheduled_item|
      %tr
        %td= deliveries_scheduled_item.nm_id
        %td= deliveries_scheduled_item.qty
        %td= deliveries_scheduled_item.deliveries_sheduled_id
        %td= link_to 'Show', deliveries_scheduled_item
        %td= link_to 'Edit', edit_deliveries_scheduled_item_path(deliveries_scheduled_item)
        %td= link_to 'Destroy', deliveries_scheduled_item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Scheduled item', new_deliveries_scheduled_item_path
