%p#notice= notice

%p
  %b Nm:
  = @deliveries_scheduled_item.nm_id
%p
  %b Qty:
  = @deliveries_scheduled_item.qty
%p
  %b Deliveries sheduled:
  = @deliveries_scheduled_item.deliveries_sheduled_id

= link_to 'Edit', edit_deliveries_scheduled_item_path(@deliveries_scheduled_item)
\|
= link_to 'Back', deliveries_scheduled_items_path
