= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :text
    = f.text_field :text
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :date
    = f.datetime_field :date
  .actions
    = f.submit 'Save'
