.row
  .columns.large-12
    %h1 Listing events

    %table
      %thead
        %tr
          %th id
          %th Subject
          %th Text
          %th User
          %th Date
          %th
          %th
          %th

      %tbody
        - @events.each do |event|
          %tr
            %td= event.id
            %td= event.subject
            %td= event.text
            %td= event.project_id
            %td= event.date
            %td= link_to 'Show', event
            %td= link_to 'Edit', edit_event_path(event)
            %td= link_to 'Destroy', event, method: :delete

    %br

    = link_to 'New Event', new_event_path
