%p#notice= notice

%p
  %b Subject:
  = @event.subject
%p
  %b Text:
  = @event.text
%p
  %b User:
  = @event.user_id
%p
  %b Date:
  = @event.date

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
