= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :datetime
    = f.datetime_field :datetime
  .field
    = f.label :last_change_date
    = f.datetime_field :last_change_date
  .field
    = f.label :article
    = f.text_field :article
  .field
    = f.label :barcode
    = f.text_field :barcode
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :discount
    = f.number_field :discount
  .field
    = f.label :region
    = f.text_field :region
  .field
    = f.label :warehouse
    = f.text_field :warehouse
  .field
    = f.label :comission_id
    = f.number_field :comission_id
  .field
    = f.label :warehouse_id
    = f.number_field :warehouse_id
  .field
    = f.label :region_id
    = f.number_field :region_id
  .field
    = f.label :income_id
    = f.number_field :income_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :nm_id
    = f.number_field :nm_id
  .field
    = f.label :canceled
    = f.check_box :canceled
  .field
    = f.label :barcode
    = f.text_field :barcode
  .field
    = f.label :gnumber
    = f.text_field :gnumber
  .field
    = f.label :order_type
    = f.text_field :order_type
  .field
    = f.label :odid
    = f.text_field :odid
  .field
    = f.label :srid
    = f.text_field :srid
  .field
    = f.label :srid
    = f.text_field :srid
  .actions
    = f.submit 'Save'
