.row
  .columns.large-12 
    %h1 Listing orders

    %table.hover
      %thead
        %tr
          %th Datetime
          / %th Last change date
          %th Article
          / %th Barcode
          %th Price
          / %th Discount
          %th Region
          %th Warehouse
          %th District ID
          %th Warehouse ID
          / %th Region
          / %th Income
          / %th User
          / %th Nm
          %th Canceled
          / %th Barcode
          / %th Gnumber
          %th Order type
          / %th Odid
          / %th Srid
          / %th Srid
          %th
          %th
          %th

      %tbody
        - @orders.each do |order|
          %tr
            %td= datetime_pretty_two(order.datetime)
            / %td= order.last_change_date
            %td
              = link_to order.article, nm_nm_path(order.nm_id)
            / %td= order.barcode
            %td= order.price * (100 - order.discount) / 100
            / %td= order.discount
            %td= order.region
            %td= order.warehouse
            %td= order.district_id
            / %td= order.comission_id
            %td= order.warehouse_id
            / %td= order.region_id
            / %td= order.income_id
            / %td= order.project_id
            / %td= order.nm_id
            %td= order.canceled
            / %td= order.barcode
            / %td= order.gnumber
            %td= order.order_type
            / %td= order.odid
            / %td= order.srid
            / %td= order.srid
            %td= link_to 'Show', order
            %td= link_to 'Edit', edit_order_path(order)
            %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
    .text-centred
      = will_paginate @orders, renderer: FoundationPagination::Rails

    %br

    / = link_to 'New Order', new_order_path
