.row
  .columns.large-12
    %p#notice= notice
    %p 
      %pre= JSON.pretty_generate @order.as_json 


    %p
      %b Datetime:
      = @order.datetime
    %p
      %b Last change date:
      = @order.last_change_date
    %p
      %b Article:
      = @order.article
    %p
      %b Barcode:
      = @order.barcode
    %p
      %b Price:
      = @order.price
    %p
      %b Discount:
      = @order.discount
    %p
      %b Region:
      = @order.region
    %p
      %b Warehouse:
      = @order.warehouse
    %p
      %b Comission:
      = @order.comission_id
    %p
      %b Warehouse:
      = @order.warehouse_id
    %p
      %b Region:
      = @order.region_id
    %p
      %b Income:
      = @order.income_id
    %p
      %b Project:
      = @order.project_id
    %p
      %b Nm:
      = @order.nm_id
    %p
      %b Canceled:
      = @order.canceled
    %p
      %b Barcode:
      = @order.barcode
    %p
      %b Gnumber:
      = @order.gnumber
    %p
      %b Order type:
      = @order.order_type
    %p
      %b Odid:
      = @order.odid
    %p
      %b Srid:
      = @order.srid


    / = link_to 'Edit', edit_order_path(@order)
    / \|
    = link_to 'Back', orders_path
