.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Потребности по актвивным складам
      %p 
        Данные рассчитаны на основе статистики за 4 недели (28 дней). Новые товары и товары с просадками могут давать меньшие результаты статистики!
        %br
        %b Ост.
        — остаток, шт
        %br
        %b Ост., д
        — остаток, дней
        %br
        %b Расх.
        — расход шт/день


      %table.hover
        %thead
          %tr
            %th{rowspan: 2} Номенклатура
            %th.text-left{colspan: 3} По всем складам
            - current_user.project.supplied_districts.each do |district|
              - title = "{district.es}"
              %th.text-left.border-div{colspan: 4}
                %span{"data-tooltip": true, class: "top", tabindex: "2", title: title}
                  = district.name.capitalize
            %tr.text-right
              %th.text-right Ост.
              %th.text-right Ост., д
              %th.text-right Расх.
              - current_user.project.supplied_districts.each do |wh|
                %th.text-right.border-div  Ост.
                %th.text-right Ост., д
                %th.text-right Расх.
                - title = "Процент заказов в округ относительно всех прочих"
                %th.text-right 
                  %span{"data-tooltip": true, class: "top", tabindex: "2", title: title} %
        %tbody
          - current_user.project.nms.each do |nm|
            %tr
              - period_days = 28
              %td 
                - sum_total = Deliveries::SupplySchema.count_by(current_user.project, nm)
                %b= nm.supplier_article
                %small — Σ #{number_with_precision(sum_total, :precision => 0, :delimiter => "'")}
                %br
                %small #{nm.object} 
              - stock_total = Stock::Stock.quantity_by_nm current_user.project, nm
              - orders_per_day = (OrderStatDistrict.sum_by_nm_4w current_user.project, nm) / period_days
              %td.text-right
                %i= stock_total
              / - dss = Deliveries::SupplySchema.find_by nm_id: nm.nm_id, district_id: district.id, project_id: current_user.project_id
              %td.text-right
                %i
                  - if orders_per_day == 0
                    0.0
                  - else
                    = (stock_total.to_f / orders_per_day).round(1)
              %td.text-right
                %i= orders_per_day 
              - current_user.project.supplied_districts.each do |district|
                - stock = Deliveries::SupplySchema.district_stock current_user.project, district, nm
                %td.text-right.border-div 
                  %b= stock
                - dss = Deliveries::SupplySchema.find_by nm_id: nm.nm_id, district_id: district.id, project_id: current_user.project_id
                - stock_days = 0.0
                - if sum_total != 0
                  - stock_days = (period_days*stock.to_f/sum_total).round(1)
                
                %td.text-right= stock_days
                %td.text-right= dss ? dss.count / period_days : 0
                %td.text-right.text-info 
                  - if dss 
                    #{(100 * (dss.count / 28 ).to_f / orders_per_day).round(1)}%
                  - else
                    = "-"
