.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Статистика заказов по регионам
      %p Количество заказов / локальных заказов за последние #{@weeks} недели: #{ @orders_local_count }/#{ @orders_count } (#{(100*@orders_local_count.to_f/@orders_count).round(2)}%)

      %table
        %thead
          %tr
            %th{rowspan: 2} Номенклатура  
            / %th{rowspan: 2} Сумма  
            - @districts.each do |distict|
              %th.text-right{colspan: 1}
                - title = distict.name == "" ? "Не определено" : distict.name
                %span{"data-tooltip": true, class: "top", tabindex: "2", title: title}
                  = if [nil, ''].include? distict.name_short then distict.name else distict.name_short end  
                
        %tbody
          - @nms.each do |r|
            %tr
              %td
                %b #{r.supplier_article}
                / %small 
                %br
                %small #{r.object} Σ#{@totals[r.nm_id]}
              / %td= @totals[r.nm_id]
              - @districts.each do |district|
                / - wh = {nm_id: r.nm_id, distrwict_id: district.id}
                / - order_stat = OrderStatDistrict.where(wh).last
                %td.text-right
                  - item = @result[district.id][r.nm_id]
                  = item.count_total if item
                  %br
                  %small
                    = @result[district.id][r.nm_id].count_local if item
                    - if @result[district.id][r.nm_id]
                      %br
                      = "#{(100*item.count_local.to_f/item.count_total).round(1)}%"


.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Статистика заказов по регионам
      %table
        %thead
          %tr
            %th{rowspan: 2} Номенклатура  
            - @districts.each do |distict|
              %th.text-right{colspan: 1}
                - title = distict.name == "" ? "Не определено" : distict.name
                %span{"data-tooltip": true, class: "top", tabindex: "2", title: title}
                  = if [nil, ''].include? distict.name_short then distict.name else distict.name_short end  
                
        %tbody
          - @nms.each do |r|
            %tr
              %td
                %b= r.supplier_article
                %br
                %small= r.object
              
              - @districts.each do |district|
                / - wh = {nm_id: r.nm_id, distrwict_id: district.id}
                / - order_stat = OrderStatDistrict.where(wh).last
                %td.text-right
                  - item = @result[district.id][r.nm_id]
                  = item.count_total if item
                  %br
                  %small
                    = @result[district.id][r.nm_id].count_local if item
                    - if @result[district.id][r.nm_id]
                      %br
                      = "#{(100*item.count_local.to_f/item.count_total).round(1)}%"

