= form_for @autoresponser do |f|
  - if @autoresponser.errors.any?
    #error_explanation
      %h2= "#{pluralize(@autoresponser.errors.count, "error")} prohibited this autoresponser from being saved:"
      %ul
        - @autoresponser.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :text
    = f.text_area :text, rows: 10

  .field
    = f.label "Рейтинг"
    %select{name:"autoresponser[rating]"}
      - @ratings_available.each do |t|
        %option{value: t, selected: @autoresponser["rating"] == t}= "#{t == '' ? 'Пустой текст' : t}"


  .actions
    = f.submit 'Сохранить', class: 'button'
