.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 
        Автоответчик
        %small редактирование
      = render 'form'

      = link_to 'Show', @autoresponser
      \|
      = link_to 'Back', autoresponsers_path
