.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 
        Автоответчики
    .cell.large-12

      %table
        %thead
          %tr
            %th Rating
            %th Text
            %th
            %th
            %th

        %tbody
          - @autoresponsers.each do |autoresponser|
            %tr
              %td= autoresponser.rating
              %td= autoresponser.text
              %td= link_to 'Show', autoresponser
              %td= link_to 'Edit', edit_autoresponser_path(autoresponser)
              %td= link_to 'Destroy', autoresponser, method: :delete, data: { confirm: 'Are you sure?' }

      %br
      - if Autoresponser.where(project_id: current_user.project_id).count < 7
        = link_to 'Добавить', new_autoresponser_path, class: 'button'
