.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 
        Автоответчик

      %p#notice= notice

      %p
        %b Text:
        = @autoresponser.text
      %p
        %b Rating:
        = @autoresponser.rating
      %p
        %b Project:
        = @autoresponser.project_id

      = link_to 'Edit', edit_autoresponser_path(@autoresponser)
      \|
      = link_to 'Back', autoresponsers_path
