.row
  .columns.large-12
    %h1 Comission

    %table.hover
      %thead
        %tr
          %th Category
          %th Subject
          %th FBO
          %th FBS
          %th DBS

      %tbody
        - @comissions.each do |c|
          %tr
            %td= c.category
            %td= c.subject
            %td= c.fbo
            %td= c.fbs
            %td= c.dbs

    .text-centred
      = will_paginate @comissions, renderer: FoundationPagination::Rails