%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Тарифы
      %p= "Дата: [#{@last_update_time}]. Обновлено: #{distance_of_time_in_words(@last_update_time, Time.zone.now.utc)} назад"


%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-3 py-3"} Склад
        %th{scope: "col", class: "px-3 py-3 text-right"} Короб, база
        %th{scope: "col", class: "px-3 py-3 text-right"} Короб, литр
        %th{scope: "col", class: "px-3 py-3 text-right"} Короб хранение, база
        %th{scope: "col", class: "px-3 py-3 text-right"} Короб хранение, литр
        %th{scope: "col", class: "px-3 py-3 text-right"} Палет доставка, база
        %th{scope: "col", class: "px-3 py-3 text-right"} Палет доставка, литр
        %th{scope: "col", class: "px-3 py-3 text-right"} Палет хранение

    %tbody{class: 'overflow-y-auto '}
      - @tariffs.each do |c|
        %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-3 py-3"}= c.tariff_periodic.warehouseName
          %td{class: "px-3 py-3 text-right"}
            - if c.tariff_periodic.boxDeliveryBase and c.tariff_periodic.palletDeliveryValueBase and c.tariff_periodic.boxDeliveryBase <= c.tariff_periodic.palletDeliveryValueBase
              %i.fa-regular.fa-thumbs-up.text-success
            = c.tariff_periodic.boxDeliveryBase
          %td{class: "px-3 py-3 text-right"}= c.tariff_periodic.boxDeliveryLiter
          %td{class: "px-3 py-3 text-right"}= c.tariff_periodic.boxStorageBase
          %td{class: "px-3 py-3 text-right"}= c.tariff_periodic.boxStorageLiter
          %td{class: "px-3 py-3 text-right"}
            - if c.tariff_periodic.boxDeliveryBase and c.tariff_periodic.palletDeliveryValueBase and c.tariff_periodic.boxDeliveryBase >= c.tariff_periodic.palletDeliveryValueBase
              %i.fa-regular.fa-thumbs-up.text-success
            = c.tariff_periodic.palletDeliveryValueBase
          %td{class: "px-3 py-3 text-right"}= c.tariff_periodic.palletDeliveryValueLiter
          %td{class: "px-3 py-3 text-right"}= c.tariff_periodic.palletStorageValueExpr

  .text-centred
    / = will_paginate @comissions, renderer: FoundationPagination::Rails