%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Планировщик заданий

%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  %h2{class: 'text-xl mb-2 font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Регламентные задания текущего проекта
  .relative.overflow-x-auto
    %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400

      %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %th{scope: "col", class: "px-6 py-3"} Артикул
          %th{scope: "col", class: "px-6 py-3"} Название
          %th{scope: "col", class: "px-6 py-3"} CRON
          %th{scope: "col", class: "px-6 py-3"} Последний запуск
          %th{scope: "col", class: "px-6 py-3", colspan: 2} Управление

        %tbody
          - @tasks.each do |t|
            %tr{class: 'hover:bg-blue-100 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{class: "px-6 py-3"}
                = t['template'].name
                - if t['task']
                  %br
                  %small= t['task'].status == "enabled" ? 'Активно' : 'Отключено'

              - if t['task']
                %td{class: "px-6 py-3"}= t['task'].cron
                - if t['task'].last_enqueue_time
                  %td{class: "px-6 py-3"}
                    = t['task'].last_enqueue_time.localtime.strftime("%H:%M:%S %d.%m.%Y") 
                    %br
                    %small= "запущено #{distance_of_time_in_words(t['task'].last_enqueue_time.localtime, Time.now)} назад" 
                - else
                  %td{class: "px-6 py-3"}
              - else
                %td{class: "px-6 py-3"} - 
                %td{class: "px-6 py-3"} -
 
              %td{class: "px-6 py-3"}
                = link_to 'Выполнить', scheduler_task_action_path('enque', t['template'].id), remote: true
                %br
                %small 1 раз сейчас
              - if t['task'] and t['task'].status == 'enabled'
                %td{class: "px-6 py-3"}= link_to 'Остановить', scheduler_task_action_path('disable', t['template'].id)
              - else
                %td{class: "px-6 py-3"}= link_to 'В план', scheduler_task_action_path('enable', t['template'].id)

- if current_user.id == 1
  %div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
    %h2{class: 'text-xl mb-2 font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Все задания
    %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
      %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}

        %tr
          %th{scope: "col", class: "px-6 py-3"} name
          %th{scope: "col", class: "px-6 py-3"} class
          %th{scope: "col", class: "px-6 py-3"} cron
          %th{scope: "col", class: "px-6 py-3"} source
          %th{scope: "col", class: "px-6 py-3"} args
          %th{scope: "col", class: "px-6 py-3"} status
          %th{scope: "col", class: "px-6 py-3"} enqueue_time

      %tbody
        - @jobs.each do |task|
          %tr{class: 'hover:bg-blue-100 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-6 py-3"}= task.name
            %td{class: "px-6 py-3"}= task.klass
            %td{class: "px-6 py-3"}= task.cron
            %td{class: "px-6 py-3"}= task.source
            %td{class: "px-6 py-3"}= task.args
            %td{class: "px-6 py-3"}= task.status
            %td{class: "px-6 py-3"}= task.last_enqueue_time.localtime.strftime("%H:%M:%S %d.%m.%Y") if task.last_enqueue_time