%div{class: "flex flex-nowrap justify-left"}
  = simple_form_for income, url: income_box_update_path(id: income.income_id), method: :post do |f|
    %div{class:"flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"}
      =f.hidden_field :income_id, value: income.income_id
      %span{class: "flex select-none bg-white items-center pl-3 pr-3 text-gray-500 sm:text-sm"} Тип поставки
      =f.select :box_type, ["", 'Короб', 'Монопалета'], {}, {class: "w-24 block flex-1 border-0 bg-white py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 border-0"}
      =f.submit value: 'OK',class: 'rounded-r-md bg-gray-200  px-3 py-2 text-sm font-semibold text-gray-500 hover:text-white transition shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600'

