%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Поступления


%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} ID
        %th{scope: "col", class: "px-6 py-3"} Склад
        %th{scope: "col", class: "px-6 py-3"} Тип поставки
        %th{scope: "col", class: "px-6 py-3 text-right"} Количество товаров
        %th{scope: "col", class: "px-6 py-3 text-right"} Дата последнего изменения
        %th{scope: "col", class: "px-6 py-3 text-right"}

    %tbody{class: 'overflow-y-auto '}
      - @incomes.each do |income|
        %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-6 py-3"}= link_to income.income_id, income_income_path(id: income.income_id)
          %td{class: "px-6 py-3"}= income.warehouse_name
          %td{class: "px-6 py-3"}
            = render 'income/income/form_box_type', income: Income::Income.where(income_id: income.income_id).first
          %td{class: "px-6 py-3 text-right"}= Income::Income.where(income_id: income.income_id).count
          %td{class: "px-6 py-3 text-right"}= income.last_change_date.strftime("%H:%M %d.%m.%Y")
          %td{class: "px-6 py-3 text-right text-blue-400"}= link_to "Открыть", income_income_path(id: income.income_id)

  %br

  = link_to 'New Income', new_income_income_path
