%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Поставка 
      %div.text-sm= @wh
      %div.text-gray-400.text-sm 
        %span #{@income_id} 
        - if @ts
          %span от #{@ts.strftime "%d.%m.%Y"}.
        - if @ts_close
          %span Дата приемки: #{@ts_close.strftime "%d.%m.%Y"}

%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  = render 'income/income/form_box_type', income: @incomes.first
%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}

  %table.table-wrp.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} Артикул
        %th{scope: "col", class: "px-6 py-3 text-right"} Дата изменений
        -# %th{scope: "col", class: "px-6 py-3"} Дата поставки
        %th{scope: "col", class: "px-6 py-3 text-right"} Размер
        %th{scope: "col", class: "px-6 py-3 text-right"} Баркод
        %th{scope: "col", class: "px-6 py-3 text-right"} Количество

    %tbody{class: 'overflow-y-auto '}
      - @incomes.each do |income|
        %tr{class: 'font-mono hover:bg-blue-50 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-6 py-3 text-left"}= income.supplier_article
          %td{class: "px-6 py-3 text-right"}= income.last_change_date.strftime("%H:%M %d.%m.%Y")
          -# %td{class: "px-6 py-3 text-right"}= income.date.strftime "%d.%m.%Y"
          %td{class: "px-6 py-3 text-right"}= income.tech_size
          %td{class: "px-6 py-3 text-right"}= income.barcode
          %td{class: "px-6 py-3 text-right"}= income.quantity

= link_to 'Back', income_income_path
