.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Склады
      %table
        %thead
          %tr
            %th ID
            %th Название
            %th WEB ID
            %th Округ
            %th Из заказов
        %tbody
        - @warehouses.each do |wh|
          %tr
            %td= wh.id
            %td= wh.name
            %td= wh.warehouse_web_id
            / %td= wh.district_id if wh.district_id
            / .name if wh.district
            / - dist = District.find wh.district_id_bak if wh.district_id_bak
            %td= wh.district.name if wh.district
            / %td= dist.name if dist
            %td= wh.used_in_orders
            / %td= JSON.pretty_generate wh.as_json
      %h1 Склады из web
      %table
        %thead
          %tr
            %th ID
            %th Название
            %th 
            %th WH ID
            %th WH WEB ID
        %tbody
          - @warehouses_web.each do |wh|
            %tr
              %td= wh.id
              %td= wh.name
              %td
                - if wh.belongs_wb
                  Склад ВБ
                - else
                  Склад поставщика
              %td= wh.warehouse_id
              %td= wh.warehouse_web_id
