= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field.pb-3
    = f.label "Название", class: "block text-xs font-semibold text-gray-600 uppercase"
    = f.text_field :name, class: "block w-full py-3 px-3 mt-2 text-gray-800 appearance-none  border-gray-100 focus"

  .field.pb-3
    = f.label "WB Токен с полными правами", class: "block text-xs font-semibold text-gray-600 uppercase"
    = f.text_field :token, rows: 3, value: '', class: "block w-full py-3 px-3 mt-2 mb-4 text-gray-800 appearance-none border-gray-100 focus"
  .actions
    = f.submit 'Создать', class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"
