%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Проекты


    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to 'Новый проект', new_project_project_path, class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"}  Проект
        / %th Token
        %th{scope: "col", class: "px-6 py-3"}  Автор
        / %th
        %th{scope: "col", class: "px-6 py-3 text-right"}
        %th{scope: "col", class: "px-6 py-3 text-right"}

    %tbody
      - @projects.each do |project|
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{scope: "col", class: "px-6 py-3"}= link_to project.name, project 
          / %td= project.token.length > 10 ? "..." + project.token[-5..-1] : ''
          %td{scope: "col", class: "px-6 py-3"}= project.user.email
          %td{scope: "col", class: "px-6 py-3 text-right"}= link_to 'Редактировать', edit_project_project_path(project), class: 'button '
          %td{scope: "col", class: "px-6 py-3"}
            = form_with url: project_projects_role_user_on_projects_action_path, method: :post do |form|
              = form.hidden_field :user_action, value: 'set_as_current'
              = form.hidden_field :project_id, value: project.id
              = form.submit "Выбрать", class: 'button success'
          / %td= link_to 'Удалить', project, method: :delete, data: { confirm: 'Are you sure?' }

  %br

