%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Новый проект

    %div{class:' px-4 py-6'}
      %div{class: 'inline-flex rounded-md'}
        = link_to 'Список проектов', project_projects_path, class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"

.flex.flex-col.h-screen.bg-gray-100
  .grid.place-items-center.mx-2.my-4

    %div{class: "px-6 py-4 bg-white  w-11/12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12"}
      = render 'form'

