%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Роль проекта



%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}

  %p#notice= notice

  %p
    %b Автор:
    = @project.author.email
  %p
    %b Token:
    = @project.token.length > 10 ? "..." + @project.token[-10..-1] : ''
  %p
    %b Name:
    = @project.name

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{class: "px-6 py-3"} Роль
        / %th Проект
        %th{class: "px-6 py-3"} Пользователь
        %th{class: "px-6 py-3"} 
    %tbody
      - @roles.each do |rpu|
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-6 py-3"}= rpu.role.user_role
          / %td= rpu.project.id
          %td{class: "px-6 py-3"}= rpu.user.email
          %td{class: "px-6 py-3"} 
            - if rpu.role.user_role == 'Администратор'
              %span Создатель
            - else
              - if @project.is_user_can_invite current_user
                / = form_with  method: :post, url: projects_role_user_on_projects_action_path, local: true do |f|
               
                = form_with  url: project_projects_role_user_on_projects_action_path, method: :post do |form|
                  = form.hidden_field :user_action, value: 'delete'
                  = form.hidden_field :project_id, value: @project.id
                  = form.hidden_field :user_data, value: rpu.user.id
                  = form.hidden_field :role_id, value: rpu.project_role_id
                  = form.submit "Удалить", class: 'button alert'


- if @project.is_user_can_invite current_user
  %div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
    = form_with url: project_projects_role_user_on_projects_action_path, method: :post do |form|
      = form.hidden_field :user_action, value: 'invite'
      = form.hidden_field :project_id, value: @project.id
      .field
        = form.label "EMail"
        = form.email_field :user_data, placeholder: "test@example"
      .field
        = form.label "Роль"
        %select{name:"role_id"}
          - Project::Role.list_for_inviting.each do |t|
            %option{value: t.id}= "#{t.user_role} (ID: #{t.id})"

      = form.submit "Пригласить", class: 'button'

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %ul.menu
    %li= link_to 'Редактировать', edit_project_project_path(@project)
    %li= link_to 'Назад', project_projects_path
