%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  .flex.grid
  - if @nm.errors.any?
    #error_explanation
      %h2= "#{pluralize(@nm.errors.count, "error")} prohibited this nm from being saved:"
      %ul
        - @nm.errors.full_messages.each do |message|
          %li= message

  .flex.grid.grid-cols-2.gap-4
    .col
      %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
        %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
          %tr
            %th{scope: "col", class: "px-6 py-3"} Параметр
            %th{scope: "col", class: "px-6 py-3"} Значение
        %tbody
          - [["Категория", @nm.object],["ID" , @nm.nm_id],["Баркод", @nm.barcode],["Артикул" , @nm.supplier_article], ["Ширина (ВБ)", @nm.dim_wb_a], ["Высота (ВБ)", @nm.dim_wb_b], ["Длина (ВБ)", @nm.dim_wb_c], ["Масса (ВБ)", @nm.dim_wb_m], ["Объем", @nm.volume], ["шт/пал", @nm.unit_per_pallet], ["Масса реальная", @nm.unit_mass], ["Масса короба", @nm.box_mass], ["Масса пал", @nm.pallet_mass] ].each do |i|
            %tr{class: 'hover:bg-blue-100 transition even:bg-gray-100 odd:bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{class: "px-6 py-3"}= i[0]
              %td{class: "px-6 py-3"}= i[1]


    .col
      = form_with model: [@nm] do |f|
        =f.hidden_field :nm_id
        .grid.grid-cols-2.items-center
          %label.text-right  PoCS минимум
          = f.number_field :roi_min, class: "border border-gray-300 rounded p-2", min: '0', max: '1000000', step: "0.01"
          %label.text-right  ROS минимум
          = f.number_field :ros_min, class: "border border-gray-300 rounded p-2", min: '0', max: '1000000', step: "0.01"

          %label.text-right  шт/кор
          = f.number_field :unit_per_box, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"
          %label.text-right  кор/пал
          = f.number_field :box_per_pallet, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"

          %label.text-right  
            m
            %sub шт
          = f.number_field :unit_mass, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"
          %label.text-right  Себестоимость

          = f.number_field :cost, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"
          %label.text-right  Цена логистики (вх)

          = f.number_field :cost_log_in, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"
          %label.text-right  Цена логистики (исх)

          = f.number_field :cost_log_out, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"
          %label.text-right  Стоимость упаковки

          = f.number_field :cost_package, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"
          %label.text-right Стоимость запаковки

          = f.number_field :cost_packaging, class: "border border-gray-300 rounded p-2", min: '0', max: '9999999', step: "0.000001"


          = f.submit "Сохранить", class: 'bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 mt-4'


          / %pre= "{
          /     "": 0.62,
          /     "pallet_mass": 624.8,
          /     "": 12.6,
          /     "": 108.0,
          /     "": 0.0,
          /     "": 0.0,
          /     "": 1.0,
          /     "": 0.0
          /   }"

          / .small-12.cell
          /   %pre= JSON.pretty_generate Nm::Nm.find_by(nm_id: self.params[:id]).as_json
