%header{class: "bg-white"}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'}= @nm.supplier_article
      %h1{class: 'tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'}= @nm.object
= render 'form'

/ .columns.large-12
/   = link_to 'Show', @nm, class: 'button'
/   = link_to 'Back', nms_path, class: 'button'
