%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Номенклатура
      - vol_max = 1.5648
      - mass_max = 700
      %p Максимальный объем палеты #{vol_max.round 3}м3, масса палеты #{mass_max} кг

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %h2{class: 'mb-2 text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Номенклатура
  .relative.overflow-x-auto
    %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
      %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
        %tr
          %th{scope: "col", class: "px-6 py-3"} Категория
          %th{class: "px-3 py-3"} ID
          %th{class: "px-3 py-3"} Баркод
          %th{class: "px-3 py-3"} Артикул
          %th{class: "px-3 py-3 text-right"} Масса пал.
          %th{class: "px-3 py-3 text-right"} Объем пал.
          %th{class: "px-3 py-3 text-right"} Лог. (исх.)
          %th{class: "px-3 py-3 text-right"} Габариты
          %th{class: "px-3 py-3 text-right"} шт/кор
          %th{class: "px-3 py-3 text-right"} кор/пал
          %th{class: "px-3 py-3 text-right"} шт/пал
          / %th Prohibited
          %th{class: "px-3 py-3 text-right"}

      %tbody
        - @nms.each do |nm|
          %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
            %td{class: "px-3 py-3"}= nm.object
            %td{class: "px-3 py-3"}= nm.nm_id
            %td{class: "px-3 py-3"}= nm.barcode
            %td{class: "px-3 py-3"}= link_to nm.supplier_article, nm_nm_path(nm.nm_id)

            %td{class: "px-3 py-3 text-right"}
              - if nm.unit_mass and nm.unit_per_pallet
                = (nm.unit_mass * nm.unit_per_pallet).round(2)
            %td{class: "px-3 py-3 text-right"}
              - if nm.volume and nm.unit_per_pallet
                - vol = (nm.volume * nm.unit_per_pallet / 1000).round(3)
                - if vol > vol_max
                  - title = "Указанный объем превышает допустимый!"
                  %span{"data-tooltip": true, class: "top", tabindex: "2", title: title}
                    %i.fa.fa-triangle-exclamation.text-error
                #{vol}
                / %br
                / =nm.volume
                / %br
                / =nm.unit_per_pallet
                / %br
                / =nm.unit_per_pallet * nm.volume


            - if nm.cost_log_out and nm.cost_log_out != 0
              %td{class: "px-3 py-3 text-right"}= nm.cost_log_out
            - else
              %td{class: "px-3 py-3 text-right"}
                %i.fa.fa-triangle-exclamation.text-warning



            %td{class: "px-3 py-3 text-right"}
              - if nm.dim_wb_a and nm.dim_wb_b and nm.dim_wb_c
                #{nm.dim_wb_a.to_i}×#{nm.dim_wb_b.to_i}×#{nm.dim_wb_c.to_i}


            - if nm.unit_per_box
              %td{class: "px-3 py-3 text-right"}= nm.unit_per_box
            - else
              %td{class: "px-3 py-3 text-right"}
                %i.fa.fa-triangle-exclamation.text-warning
            - if nm.box_per_pallet
              %td{class: "px-3 py-3 text-right"}= nm.box_per_pallet
            - else
              %td{class: "px-3 py-3 text-right"}
                %i.fa.fa-triangle-exclamation.text-warning
            - if nm.unit_per_pallet
              %td{class: "px-3 py-3 text-right"}= nm.unit_per_pallet
            - else
              %td{class: "px-3 py-3 text-right"}
                %i.fa.fa-triangle-exclamation.text-warning
            / %td= nm.imt_id
            / %td= nm.user_id
            / %td= link_to 'Show', nm_path(nm.nm_id)
            %td{class: "px-3 py-3 text-right"}= link_to 'ред.', edit_nm_nm_path(nm.nm_id)
            / %td= link_to 'Destroy', nm, method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'New Nm', new_nm_nm_path
