%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: 'px-4 py-6 sm:px-6 lg:px-8'}
      %div.flex.text-nowrap.items-center.gap-2 
        %small= @nm.object
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'}= @nm.supplier_article
      %div.text-xs
        %div ID и баркод: #{@nm.nm_id} / #{@nm.barcode}
        %div
          - if @nm.price.price and @nm.price.discount != nil
            %span= "Цена: #{@nm.price.price.round} - #{@nm.price.discount.round}% = #{@nm.price.total}, с СПП #{@nm.price_customer ? @nm.price_customer : "-"}"
          - elsif @nm.price.price
            %span= "Цена: #{@nm.price.price.round} #{@nm.price.total if @nm.price.total != @nm.price.price.round}"
          - else
            %span Цена не установлена
        %div
          - text = ""
          - if @nm.dim_wb_a and @nm.dim_wb_b and @nm.dim_wb_c
            - text += "Габариты: #{@nm.dim_wb_a.round}x#{@nm.dim_wb_b.round}x#{@nm.dim_wb_c.round}"
          - text += ", объем #{@nm.volume}л"
          = text
        %div Вложение: #{@nm.unit_per_box} шт/кор, #{@nm.box_per_pallet} кор/пал, #{@nm.unit_per_pallet} шт/пал #{} #{}
    %div{class:' px-4 py-6'}
      - if @nm.position
        = render 'nm/position', pos: @nm.position
      %div{class: 'inline-flex rounded-md'}
        - if NmGroupQueryItem.where(nm_id: @nm.nm_id).count > 0
          = link_to "Обновить позиции", nm_nm_group_queries_update_nm_positions_path(nm_id: @nm.nm_id), remote: true, class: "px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded hover:bg-gray-100 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white"


%div{"data-controller" => "tabs", "data-tabs-active-tab-class" => "", "data-tabs-index-value" => "0"}
  %div{class: "mx-auto px-4 py-2 sm:px-2 md:px-2 md:py-2 lg:px-4 lg:py-4 bg-gray-300"}
    %ul.list-reset.flex.text-gray-700
      %li{"data-action" => "click->tabs#change:prevent", "data-tabs-target" => "tab"}
        %a.inline-block.px-4.hover:text-gray-900{"data-action" => "keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent", href: "#"} Сводка
      %li{"data-action" => "click->tabs#change:prevent", "data-tabs-target" => "tab"}
        %a.inline-block.px-4.hover:text-gray-900{"data-action" => "keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent", href: "#"} Конкуренты
      %li{"data-action" => "click->tabs#change:prevent", "data-tabs-target" => "tab"}
        %a.inline-block.px-4.hover:text-gray-900{"data-action" => "keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent", href: "#"} Реклама
      %li{"data-action" => "click->tabs#change:prevent", "data-tabs-target" => "tab"}
        %a.inline-block.px-4.hover:text-gray-900{"data-action" => "keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent", href: "#"} Статистика РК по дням
  
  %div{class: "mx-auto px-4 py-4 sm:px-2 md:px-2 md:pb-2 lg:px-8 lg:pb-6"}
    %div{"data-tabs-target" => "panel"}
      %h2.text-gray-400.text-sm.font-bold История заказов по дням (количество)
      = line_chart @dataset_sum, library: @graph_settings
      %h2.text-gray-400.text-sm.font-bold Реальные покупательские цены
      = render 'nm/nms/nm_graph_prices', nm: @nm, period: @days
      %h2.text-gray-400.text-sm.font-bold Заказы по часам
      = render 'nm/nms/nm_graph_orders_today', nm: @nm, period: 24*7

      %h2{class: 'mb-2 text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center mt-5'} Заказы
      .relative.overflow-x-auto
        %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
          %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
            %tr
              %th{scope: "col", class: "px-6 py-3"} Дата
              - @orders.each do |i|
                %th{class: "px-6 py-3 text-right"}= i.period.strftime "%d.%m.%y"
          %tbody
            %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{scope: "col", class: "px-6 py-3"} Количество
              - @orders.each do |i|
                %td{class: "px-6 py-3 text-right"}= i.cnt
            %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{scope: "col", class: "px-6 py-3"} Цена
              - @orders.each do |i|
                %td{class: "px-6 py-3 text-right"}= number_with_precision(i.sum/i.cnt, :precision => 2, :delimiter => "'")
            %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{scope: "col", class: "px-6 py-3"} Сумма
              - @orders.each do |i|
                %td{class: "px-6 py-3 text-right"}= number_with_precision(i.sum.round(2), :precision => 2, :delimiter => "'")




    %div.hidden{"data-tabs-target" => "panel"}
      %h2{class: 'mb-2 text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Конкуренты
      %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
        %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
          %tr
            %th{scope: "col", class: "px-6 py-3"} ID
            %th{class: "px-6 py-3 text-right"} РРЦ
            %th{class: "px-6 py-3 text-right"} Скидка
            %th{class: "px-6 py-3 text-right"} Цена
            %th{class: "px-6 py-3 text-right"} Бренд 
            %th{class: "px-6 py-3"} Позиция конкурента
            %th{class: "px-6 py-3"} Запрос
            %th
        %tbody
          - if not @nm.nm_competitor.count > 0
            %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %th.text-left{colspan: 7, class: "px-6 py-3"} Товары конкурентов не указаны
          - else
            - @nm_competitors.map do |nmc|
              %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
                %td{class: "px-6 py-3 text-left"}= nmc.nm_id
                %td{class: "px-6 py-3 text-right"}= nmc.price_rrc
                %td{class: "px-6 py-3 text-right"}
                  = nmc['raw']['sale']
                %td{class: "px-6 py-3 text-right"}
                  = nmc.price_with_spp
                  -# = @nm.price_customer
                  - if not nmc.price or not @nm.price_customer and nmc.price < @nm.price_customer
                    %i.fa.fa-triangle-exclamation.text-warning
                %td{class: "px-6 py-3 text-right"}= nmc['raw']['brand']
                %td{class: "px-6 py-3 text-left"}
                  - if nmc.raw
                    = nmc.raw['name']
                  - else
                    - if nmc.raw_card
                      = nmc.raw_card['name']
                  - if nmc.raw == nil and nmc.raw_card == nil
                    = 'Ожидается обновление'

                %td{class: "px-6 py-3"}= link_to nmc.nm_group_query.name, nm_nm_group_query_path(id: nmc.nm_group_query.id)
                %td{class: "px-6 py-3"}= link_to 'Удалить', nm_nm_competitor_action_path(nm_competitor_connector: {nmc_id: nmc.id, nm_id: @nm.nm_id, todo: 'delete'}), method: :post

      %h3.text-xl.py-3 Добавить к отслеживанию
      = form_for NmCompetitorConnector.new, :url => url_for(:controller => 'nms', :action => 'competitor_action', id: @nm.nm_id) do |f|
        = f.hidden_field :nm_id, value: @nm.nm_id
        = f.hidden_field :todo, value: 'add'
        %div{class: "flex flex-nowrap justify-left"}
          %div{class: "flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md"}
            %span{class: "bg-white flex select-none items-center pl-3 text-gray-500 sm:text-sm"} ID
            = f.number_field :nm_competitor_id, class: "bg-white block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6", min: '0', max: '9999999999', step: "1"
            %button{ type:"submit", class: "rounded-md bg-blue-600  px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"} Добавить


    %div.hidden{"data-tabs-target" => "panel"}
      %h2{class: 'mb-2 text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Создать РК
      TODO
      %h2{class: 'mb-2 text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Реклама
      
        
      %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
        %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
          %tr
            %th{class: "px-6 py-3 "} РК
            %th{class: "px-6 py-3"} Тип
            %th{class: "px-6 py-3"} Статус
            %th{class: "px-6 py-3 text-right"} Ставка
            %th{class: "px-6 py-3 text-right"} Баланс
            %th{class: "px-6 py-3 text-right"} Макс. дневной бюджет 
            %th{class: "px-6 py-3 text-right"} Сумма пополнений сегодня
        %tbody
          - @nm.adverts.sort_by{|i| -(i.cpm || 0) }.each do |advert|
            %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              %td{class: "px-6 py-3"}= link_to advert.name, advert_advert_path(advert)
              %td{class: "px-6 py-3"}= advert.type_humanize
              %td{class: "px-6 py-3"}= advert.status_humanize
              %td{class: "px-6 py-3 text-right"}= advert&.cpm
              %td{class: "px-6 py-3 text-right"}= advert&.budget
              %td{class: "px-6 py-3 text-right"}= advert&.budget_max
              %td{class: "px-6 py-3 text-right"}
                - if Time.now.beginning_of_day == advert.balance_payment_period.beginning_of_day
                  = advert.balance_payment_sum_on_period

    %div.hidden{"data-tabs-target" => "panel"}
      %h2{class: 'mb-2 text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Рекламные кампании
      %p= "Общая сумма затрат на рекламу номенклатуры: #{number_with_precision(@advert_total, :precision => 2, :delimiter => "'") }руб."
      %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
        %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
          %tr
            %th{scope: "col", class: "px-6 py-3"} Период
            %th{class: "px-6 py-3 "} РК
            %th{class: "px-6 py-3 text-right"} Сумма
            %th{class: "px-6 py-3 text-right"} Просмотры
            %th{class: "px-6 py-3 text-right"} Клики
            %th{class: "px-6 py-3 text-right"} CTR, %
            %th{class: "px-6 py-3 text-right"} CPC, руб
            %th{class: "px-6 py-3 text-right"} В корзину
            %th{class: "px-6 py-3 text-right"} Заказы
            %th{class: "px-6 py-3 text-right"} Конверсия
            %th{class: "px-6 py-3 text-right"} Сумма заказов
        %tbody
          - @adstats.each do |adstat|
            %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
              / %td= adstat.as_json
              - advert = Advert::Advert.find_by(advert_id: adstat.advert_id)
              %td{class: "px-6 py-3"}= adstat.period.strftime "%d.%m.%Y"
              %td{class: "px-6 py-3"}
                = link_to advert.name, advert
                %small= advert.type_humanize
              %td{class: "px-6 py-3 text-right"}= number_with_precision(adstat.sum.round(2), :precision => 2, :delimiter => "'")
              %td{class: "px-6 py-3 text-right"}= adstat.views
              %td{class: "px-6 py-3 text-right"}= adstat.clicks
              %td{class: "px-6 py-3 text-right"}= adstat.ctr
              %td{class: "px-6 py-3 text-right"}= adstat.cpc
              %td{class: "px-6 py-3 text-right"}= adstat.atbs
              %td{class: "px-6 py-3 text-right"}= adstat.orders
              %td{class: "px-6 py-3 text-right"}= adstat.cr
              %td{class: "px-6 py-3 text-right"}= number_with_precision(adstat.sum_price.round(2), :precision => 2, :delimiter => "'")

