.-mx-3{"data-controller"=>"dropdown", "data-action"=>"click->dropdown#toggle click@window->dropdown#hide"}
  %button.flex.w-full.items-center.justify-between.rounded-lg.py-2.pl-3.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:class => "pr-3.5", :type => "button", "aria-expanded" => "false", :type => "button", :id => "dropdown-button"}
    = item_list[:name]
    /
      Expand/collapse icon, toggle classes based on menu open state.
      
      Open: "rotate-180", Closed: ""
    %svg.h-5.w-5.flex-none{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20"}
      %path{"clip-rule" => "evenodd", :d => "M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", "fill-rule" => "evenodd"}
  / 'Product' sub-menu, show/hide based on menu state.
  #disclosure-1.mt-2.space-y-2{"data-dropdown-target"=>"menu"}
    - if current_user and current_user.project_id.to_i != admin_project_id.to_i
      - items = item_list[:items].select {|i| not i[:only_admin]} 
    - else
      - items = item_list[:items]
    - items.each do |hi|
      %a.block.rounded-lg.py-2.pl-6.pr-3.text-sm.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#{hi[:path]}"}= hi[:name]
  

