.relative{"data-controller"=>"dropdown", "data-action"=>"click->dropdown#toggle click@window->dropdown#hide"}
  %button.flex.items-center.gap-x-1.text-sm.font-semibold.leading-6.text-gray-100.hover:text-gray-300.rounded-md.px-4.py-2{"aria-expanded" => "false", :type => "button", :id => "dropdown-button"}
    = item_list[:name]
    %svg.h-5.w-5.flex-none.text-gray-300{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20"}
      %path{"clip-rule" => "evenodd", :d => "M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", "fill-rule" => "evenodd"}
  /
    'Product' flyout menu, show/hide based on flyout menu state.
    
    Entering: "transition ease-out duration-200"
    From: "opacity-0 translate-y-1"
    To: "opacity-100 translate-y-0"
    Leaving: "transition ease-in duration-150"
    From: "opacity-100 translate-y-0"
    To: "opacity-0 translate-y-1"
  .hidden.absolute.-left-8.top-full.z-10.mt-3.overflow-hidden.rounded.bg-white.shadow-lg.ring-1{:class => "ring-gray-900/5", "data-dropdown-target"=>"menu"}
    - if current_user and current_user.project_id.to_i != admin_project_id.to_i
      - items = item_list[:items].select {|i| not i[:only_admin]} 
    - else
      - items = item_list[:items]
    - items.each do |hi|
      .group.text-nowrap.relative.flex.items-center.gap-x-6.rounded-lg.px-4.py-2.text-sm.leading-6.hover:bg-gray-50
        / .flex.h-11.w-11.flex-none.items-center.justify-center.rounded-lg.bg-gray-50.group-hover:bg-white
        /   %svg.h-6.w-6.text-gray-600.group-hover:text-indigo-600{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
        /     %path{:d => "M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        /     %path{:d => "M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        .flex-auto
          %a.block.text-gray-900{:href => "#{hi[:path]}"}
            = hi[:name]
            %span.absolute.inset-0
          / %p.mt-1.text-gray-600 Get a better understanding of your traffic