%nav.bg-blue-600.text-gray-100.mx-auto.flex.items-center.justify-between.p-3.shadow.lg:px-8{"aria-label" => "Global"}
  .flex.lg:flex-1
    %a{:class => "-m-1.5 p-1.5 hover:text-sky-500", :href => "#{root_path}"}
      %span PumPurum
      / %img.h-8.w-auto{:alt => "", :src => "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"}/
  .flex.lg:hidden
    %button.inline-flex.items-center.justify-center.rounded-md.text-gray-700{:class => "-m-2.5 p-2.5", :type => "button", 'data-action'=>'click->toggle#toggle touch->toggle#toggle'}
      %span.sr-only Open main menu
      %svg.h-6.w-6.text-gray-100.hover:text-sky-500{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
        %path{:d => "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
  .hidden.lg:flex.lg:gap-x-12

    = render 'layouts/header/dropdown', {item_list: header_menu_item_list[:dashboard]}
    = render 'layouts/header/dropdown', {item_list: header_menu_item_list[:trading]}
    = render 'layouts/header/dropdown', {item_list: header_menu_item_list[:incomes]}
    = render 'layouts/header/dropdown', {item_list: header_menu_item_list[:log]}
    = render 'layouts/header/dropdown', {item_list: header_menu_item_list[:nsi]}

  .hidden.lg:flex.lg:flex-1.lg:justify-end
    .group.relative.flex.items-center.gap-x-6.rounded-lg.p-4.text-sm.leading-6.hover
      - if user_signed_in?
        = render 'layouts/header/dropdown', {item_list: header_menu_item_list[:project]}
        %a.block.font-semibold.text-gray-100.hover:text-sky-500{:href => "#{destroy_user_session_path}"}
          %span{"aria-hidden" => "true"} Выйти
        / = link_to "#{current_user.email} (ID #{current_user.id})", edit_user_registration_path
        / %ul.dropdown.menu{"data-dropdown-menu"=>"true"}
        /   %li= link_to "#{current_user.email} (ID #{current_user.id})", edit_user_registration_path
        /   %li= link_to "Выйти", destroy_user_session_path, :method => :delete
        /   - if current_user.id == 1
        /     %li= link_to "Константы", app_global_constants_path
      - else
        %a.block.font-semibold.text-gray-100{:href => "#{new_user_session_path}"}
          %span.hover:text-sky-500{"aria-hidden" => "true"} Войти
        %a.block.font-semibold.text-gray-100{:href => "#{new_user_registration_path}"}
          %span.hover:text-sky-500{"aria-hidden" => "true"} Регистрация
