/ Mobile menu, show/hide based on menu open state.
.lg:hidden.hidden{"aria-modal" => "true", :role => "dialog", 'data-toggle-target'=>'toggleable'}
  / Background backdrop, show/hide based on slide-over state.
  .fixed.inset-0.z-10{}
  .fixed.inset-y-0.right-0.z-10.w-full.overflow-y-auto.bg-white.px-6.py-6.sm:max-w-sm.sm:ring-1{:class => "sm:ring-gray-900/10"}
    .flex.items-center.justify-between
      %a{:class => "-m-1.5 p-1.5", :href => "#"}
        %span.sr-only PumPurum
        / %img.h-8.w-auto{:alt => "", :src => "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"}/
      %button.rounded-md.text-gray-700{:class => "-m-2.5 p-2.5", :type => "button", 'data-action'=>'click->toggle#toggle touch->toggle#toggle'}
        %span.sr-only Close menu
        %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
          %path{:d => "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    .mt-6.flow-root
      .-my-6.divide-y{:class => "divide-gray-500/10"}
        .space-y-2.py-6
          = render 'layouts/header/dropdown_mobile', {item_list: header_menu_item_list[:dashboard]}
          = render 'layouts/header/dropdown_mobile', {item_list: header_menu_item_list[:trading]}
          = render 'layouts/header/dropdown_mobile', {item_list: header_menu_item_list[:log]}
          = render 'layouts/header/dropdown_mobile', {item_list: header_menu_item_list[:incomes]}
          = render 'layouts/header/dropdown_mobile', {item_list: header_menu_item_list[:nsi]}
          = render 'layouts/header/dropdown_mobile', {item_list: header_menu_item_list[:project]}


          / %a.-mx-3.block.rounded-lg.px-3.py-2.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#"} Features
          / %a.-mx-3.block.rounded-lg.px-3.py-2.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#"} Marketplace
          / %a.-mx-3.block.rounded-lg.px-3.py-2.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:href => "#"} Company
        .py-6
          %a.-mx-3.block.rounded-lg.px-3.text-base.font-semibold.leading-7.text-gray-900.hover:bg-gray-50{:class => "py-2.5", :href => "#"} Log in

