= form_for @promotion_manager do |f|
  - if @promotion_manager.errors.any?
    #error_explanation
      %h2= "#{pluralize(@promotion_manager.errors.count, "error")} prohibited this promotion_manager from being saved:"
      %ul
        - @promotion_manager.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :nm_id, disabled: true
  = f.hidden_field :advert_id, disabled: true
  .field
    = f.label "Дневной бюджет"
    = f.text_field :budget_daily
  .field
    = f.label "Включено"
    = f.check_box :enabled
  .actions
    = f.submit 'Сохранить', class: 'button'
