%tr
  %td= item[:nm].object
  %td= link_to item[:nm].supplier_article, nm_nm_path(item[:nm])
  - if item[:ad]
    %td= link_to item[:ad].advert_id, item[:ad]
    %td= advert_status_icon(item[:ad]).html_safe
    - case item[:ad].status.to_i
    - when 11
      %td= link_to "Запустить", advert_advert_start_path(item[:ad])
    - when 9
      %td= link_to "Пауза", advert_advert_start_path(item[:ad])
    

    %td.text-right= item[:ad].budget
    %td.text-right= item[:ad].daily_sum
    %td.text-right= item[:ad].cpm
  - else
    %td
    %td
    %td
    %td
    %td
    %td
  %td.text-right= item[:pm].budget_daily
  / %td= item[:pm].enabled
  - if item[:ad]
    %td= item[:ad].configured_for_promotion_manager? item[:pm]
    - if item[:pm].enabled
      %td= link_to 'Остановить', advert_promotion_manager_set_status_path(id: item[:pm].id, status: 0)
    - else
      %td= link_to 'Запустить',  advert_promotion_manager_set_status_path(id: item[:pm].id, status: true)
  - else
    %td false
    %td 

  %td= link_to 'Ред.', edit_advert_promotion_manager_path(item[:pm])
  %td= link_to "Подготовить", advert_promotion_manager_setup_path(item[:pm]) 

