%tr
  %th Категория
  %th Номенклатура
  %th РК
  %th 
  %th 
  %th.text-right Бюджет РК
  %th.text-right Расход/день
  %th.text-right Ставка РК
  %th.text-right Дневной бюджет
  / %th Включено
  %th 
  %th
  %th
  %th