.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      - nm = Nm::Nm.find_by nm_id: @promotion_manager.nm_id   
      %h1
        = nm.supplier_article
        %small Менеджер рекламы

      - if @promotion_manager.advert_id
        %p 
          РК настроена 
          - if @promotion_manager.advert_id
            [#{link_to @promotion_manager.advert_id, @advert}]
          - else
            [#{@promotion_manager.advert_id}]
      - else
        %p РК не настроена
      %p= link_to "Создать и настроить РК", advert_promotion_manager_setup_path(@promotion_manager) , class: 'button'

      = render 'form'

      %ul.menu
        %li= link_to 'Show', @promotion_manager
        %li= link_to 'Back', advert_promotion_managers_path
