.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Менеджеры рекламы

    .cell.large-12
      %h2 Активные менеджеры
      %ul.menu
        %li= link_to "Подготовить для всех НМ", advert_promotion_manager_setup_all_path
      %table
        %thead= render 'index_table_header'
        %tbody
          - @promotion_managers.each do |item|
            - if item[:pm].enabled
              = render 'index_table_row', item: item


    .cell.large-12
      %h2 Отключенные менеджеры
      %table
        %thead
          = render 'index_table_header'
        %tbody
          - @promotion_managers.each do |item|
            - if not item[:pm].enabled
              = render 'index_table_row', item: item

      / = link_to 'New Promotion manager', new_promotion_manager_path
