%p#notice= notice

%p
  %b Nm:
  = @promotion_manager.nm_id
%p
  %b Advert:
  = @promotion_manager.advert_id
%p
  %b Budget daily:
  = @promotion_manager.budget_daily
%p
  %b Enabled:
  = @promotion_manager.enabled

= link_to 'Edit', edit_advert_promotion_manager_path(@promotion_manager)
\|
= link_to 'Back', advert_promotion_managers_path
