%h2 Изменить пароль
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render "users/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, "New password"
    %br/
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, "Confirm new password"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :bidder_enabled
    %i (Bidder enabled)
    %br/
    = f.check_box :bidder_enabled
    / , autocomplete: "current-password"
  .actions
    = f.submit "Change my password", class: 'button'
= render "users/shared/links"
