.row
  .columns.large-12
    %h2 Забыли пароль?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render "users/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .actions
        = f.submit "Отправить инструкции по сбросу", class: 'button'
    = render "users/shared/links"
