@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.header-main {
  @apply text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center pb-4;
}

.create-button {
  @apply inline-block px-4 py-2 leading-none border rounded bg-blue-500 text-white hover:bg-blue-700;
}

/* Кнопки */
.button-group {
  @apply px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200  hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white;
}

.button-group:first-child {
  @apply rounded-s-lg;
}

.button-group:last-child {
  @apply rounded-e-lg;
}

.button-group-alert {
  @apply button-group;
  @apply text-red-800;
  @apply hover:text-red-600;
}