	/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .

 */


.tb-border-top {
	border-top: 1px solid #777777;
}

.input-group-table {
	margin-bottom: 0 !important;
}

.input-field-min-width {
	min-width: 120px !important;
}

tr.row-bg {
	background-color: #f1f1f1 !important;
	font-weight: 600 !important;
}