@import "font-awesome";
@import 'settings';

.text-success {
	color: $success-color;
}

.text-error {
	color: $alert-color;
}

.text-info {
	color: $secondary-color;
}

.text-warning {
	color: $warning-color;
}

.card-footer {
	padding: 1rem;
	flex: 1 0 auto;
	background-color: $light-gray;
}

.border-div {
	border-left: 1px solid #ccc;
}

.turbo-progress-bar {
	background-color: #f00;
}
