= form_for @task_manager_category do |f|
  - if @task_manager_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task_manager_category.errors.count, "error")} prohibited this task_manager_category from being saved:"
      %ul
        - @task_manager_category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :project_id
    = f.number_field :project_id
  .actions
    = f.submit 'Save'
