.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Редактировать категорию задач
      
      = render 'form'

      = link_to 'Show', @task_manager_category
      \|
      = link_to 'Back', task_manager_categories_path
