.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Список категорий задач

      %table
        %thead
          %tr
            %th Title
            %th Project
            %th
            %th
            %th

        %tbody
          - @task_manager_categories.each do |task_manager_category|
            %tr
              %td= task_manager_category.title
              %td= task_manager_category.project_id
              %td= link_to 'Show', task_manager_category
              %td= link_to 'Edit', edit_task_manager_category_path(task_manager_category)
              %td= link_to 'Destroy', task_manager_category, method: :delete, data: { confirm: 'Are you sure?' }

      %br

      = link_to 'New Category', new_task_manager_category_path
