.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Список задач

      %p#notice= notice

      %p
        %b Title:
        = @task_manager_category.title
      %p
        %b Project:
        = @task_manager_category.project_id

      = link_to 'Edit', edit_task_manager_category_path(@task_manager_category)
      \|
      = link_to 'Back', task_manager_categories_path
