.row
  .columns.large-12
  %h1 Склады по регионам
  .columns.large-12
    %table.hover
      %thead
        %tr
          %th Федеральный округ
          %th Склад
          %th 
      %tbody
        - @dws.each do |dw|
          %tr
            %td= dw.location
            %td= dw.warehouseName
