.row
  .columns.large-12
  %h1 Федеральные округа
  .columns.large-12
    %table.hover
      %thead
        %tr
          %th Федеральный округ / Страна
      %tbody
        - @districts.each do |dw|
          %tr
            %td= dw.name
            / %td= dw.location
            / %td= dw.warehouseName
