.row
  .columns.large-12
  %h1 Регионы
  .columns.large-12
    %table.hover
      %thead
        %tr
          %th Страна
          %th Федеральный округ
          %th Регион / Область
      %tbody
        - @regions.each do |dw|
          %tr
            %td= dw.country
            %td= dw.district
            %td= dw.region
