= form_for [:project, @project_role] do |f|
  - if @project_role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project_role.errors.count, "error")} prohibited this project_role from being saved:"
      %ul
        - @project_role.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label "Название роли"
    = f.text_field :user_role

  .field
    = f.label "Изменяемая"
    = f.check_box :changable, checked_value: true, unchecked_value: false

  .field
    = f.label "Доступ к прибыли"
    = f.check_box :access_profit, checked_value: true, unchecked_value: false


  .actions
    = f.submit 'Сохранить', class: 'button'
