%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Роли пользователя в проекте

%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}
  %table.w-full.px-4.py-6.text-sm.text-left.rtl:text-right.text-gray-800.dark:text-gray-400
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"}  Роль
        %th{scope: "col", class: "px-6 py-3"}  Изменяемая
        %th{scope: "col", class: "px-6 py-3"}  Прибыль
        %th{scope: "col", class: "px-6 py-3"} 
        %th{scope: "col", class: "px-6 py-3"} 

    %tbody
      - @project_roles.each do |project_role|
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-6 py-3"}= link_to project_role.user_role, edit_project_project_role_path(project_role)
          %td{class: "px-6 py-3"}= project_role.changable
          %td{class: "px-6 py-3"}= project_role.access_profit
          %td{class: "px-6 py-3"}= link_to 'Ред.', edit_project_project_role_path(project_role)
          %td{class: "px-6 py-3"}= link_to 'Удалить', project_project_role_path(project_role), method: :delete, data: { confirm: 'Are you sure?' }

    %br

    = link_to 'Новая роль', new_project_project_role_path
