%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Роль проекта



%div{class: "mx-auto px-4 py-4 sm:px-6 md:px-24 md:pb-2 lg:px-8 lg:pb-6"}

  %p#notice= notice

  %p
    %b Роль
    = @project_role.user_role

  %ul.menu
    %li= link_to 'Edit', edit_project_project_role_path(@project_role)
    %li= link_to 'Back', project_project_roles_path
