= form_for @sale do |f|
  - if @sale.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale.errors.count, "error")} prohibited this sale from being saved:"
      %ul
        - @sale.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :date_from
    = f.datetime_field :date_from
  .actions
    = f.submit 'Save'
