.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Отчеты по реализациям
      %table
        %thead
          %tr
            %th Номер отчета
            %th
            %th

        %tbody
          - @sales.each do |s|
            %tr
              %td= s.as_json
              %td= link_to 'Show', sale_path(s)
              %td= link_to 'Edit', edit_sale_path(s)

      %br

      = link_to 'New Sale', new_sale_path
