.grid-container.full
  .grid-x.grid-padding-x
    .cell.large-12
      %h1 Отчет #{self.params['id']}
      - if current_user.id == 1
        %p=@profit_global
      %p#notice= notice


      / - @by_ops.each do |operation, rows|
      /   %h2=operation
      /   %table
      /     %thead
      /       %tr
      /         %th sa_name
      /         %th ppvz_for_pay
      /         %th count
      /         %th delivery_rub
      /         %th delivery_amount
      /     %tbody
      /       - rows.each do |row|
      /         %tr
      /           %td=row['sa_name']
      /           %td=row['ppvz_for_pay']
      /           %td=row['count']
      /           %td=row['delivery_rub']
      /           %td=row['delivery_amount']
      /           / %td= JSON.pretty_generate row.as_json

      - @result.each do |sa, rows|
        / %h2=sa
        %table
          %thead
            %tr
              %th= sa
              %th ppvz_for_pay
              %th count
              %th delivery_rub
              %th delivery_amount
              %th penalty
          %tbody
            - rows['ops'].each do |row|
              %tr
                / %td= JSON.pretty_generate row.as_json
                %td=row['supplier_oper_name']
                %td=row['ppvz_for_pay']
                %td=row['count']
                %td=row['delivery_rub']
                %td=row['delivery_amount']
                %td=row['penalty']

            %tr
              %td Итого
              / %td= rows.as_json
              %td= rows['total']
              %td= rows['price']
              %td= rows['count']
              %td= rows['delivery_amount']
              %td= current_user.id == 1 ? rows['profit'] : '' 






      / / = link_to 'Edit', edit_sale_path(@sale)
      / / \|
      / / = link_to 'Back', sales_path
