%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Список активных складов

%div{class: "mx-auto px-4 py-4 md:pb-2 lg:px-8 "}
  %table.w-full.py-6.text-sm.text-left
    %thead{class: "text-xs text-gray-900 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th{scope: "col", class: "px-6 py-3"} ID
        %th{scope: "col", class: "px-6 py-3"} Дата
        %th{scope: "col", class: "px-6 py-3"} Склад
        %th{scope: "col", class: "px-6 py-3"} Округ
        %th{scope: "col", class: "px-6 py-3"} Тип
        %th{scope: "col", class: "px-6 py-3 text-right"} База 
        %th{scope: "col", class: "px-6 py-3 text-right"} 1л
        %th{scope: "col", class: "px-6 py-3 text-right"} 
          Хранение
          %sub база
        %th.text-right
          Хранение
          %sub 1л
        %th Статус
        %th Управление

    %tbody{class: 'bg-white'}
      - @tariffs.each do |i|
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}
          %td{class: "px-6 py-3"}= i[:t].id
          %td{class: "px-6 py-3"}= i[:tp].period.strftime("%d.%m.%Y")
          / %td= JSON.pretty_generate i.as_json
          %td{class: "px-6 py-3"}
            = i[:tp].warehouseName
          %td{class: "px-6 py-3"}
            - if i[:fo]
              = i[:fo].location
          %td{class: "px-6 py-3"} Короб
          %td{class: "text-right px-6 py-3"}= i[:tp].boxDeliveryBase
          %td{class: "text-right px-6 py-3"}= i[:tp].boxDeliveryLiter
          %td{class: "text-right px-6 py-3"}= i[:tp].boxStorageBase
          %td{class: "text-right px-6 py-3"}= i[:tp].boxStorageLiter

          - wha = Tariff::Active.find_by(project_id: current_user.project_id, tariff_id: i[:t].id)
          - if wha and wha.active
            %td{class: "px-6 py-3"} Активен
            %td{class: "px-6 py-3"}= link_to 'Отключить', tariff_tariffs_active_unset_path(i[:t])
          - else
            %td{class: "px-6 py-3"} Отключено
            %td{class: "px-6 py-3"}= link_to 'Активировать', tariff_tariffs_active_set_path(i[:t])
        %tr{class: 'bg-white border-b dark:bg-gray-800 dark:border-gray-700'}

          %td{class: "px-6 py-3"}
          %td{class: "px-6 py-3"}= i[:tp].period.strftime("%d.%m.%Y")
          %td{class: "px-6 py-3"}
            = i[:tp].warehouseName
          %td{class: "px-6 py-3"}
            - if i[:fo]
              = i[:fo].location
          %td{class: "px-6 py-3"} Моно

          %td{class: "px-6 py-3 text-right"}= i[:tp].palletDeliveryValueBase
          %td{class: "px-6 py-3 text-right"}= i[:tp].palletDeliveryValueLiter
          %td{class: "px-6 py-3 text-right"}= i[:tp].palletStorageValueExpr
          %td{class: "px-6 py-3 text-right"} -

          / - wha = TariffActive.find_by(project_id: current_user.project_id, tariff_id: i[:t].id)
          - if i[:ta] and wha.active
            %td{class: "px-6 py-3"} Активен
            %td{class: "px-6 py-3"}= link_to 'Отключить', tariff_tariffs_active_unset_path(i[:t])
          - else
            %td{class: "px-6 py-3"} Отключено
            %td{class: "px-6 py-3"}= link_to 'Активировать', tariff_tariffs_active_set_path(i[:t])