.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => "", "role" => "menubar"}
      %li
        %a{:href => "/"} WBLocal
        
      - if user_signed_in? and current_user.project_id
        %li
          = link_to "Отчеты", dashboard_daily_path
          %ul.dropdown.menu{"data-dropdown-menu"=>"1"}
            / %li= link_to "Оперативный отчет", dashboard_daily_path
            / %li= link_to "Торговая сводка", dashboard_trading_path
            %li= link_to "Заказы: м/м", dashboard_weekly_orders_path
            %li= link_to "Отчет по складам", dashboard_warehouse_balance_path
            %li= link_to "Планирование остатков", dashboard_stocks_planning_path
            %li= link_to "Продажи по регионам", dashboard_sales_stats_by_district_path
            %li= link_to "Позиции номенклатуры", dashboard_nm_positions_path
            %li= link_to "Анализ финансов по остаткам", dashboard_profit_by_current_stocks_path

        %li 
          %a Торговля
          %ul.dropdown.menu{"data-dropdown-menu"=>"true"}
            %li= link_to "Ценообразование", pricings_path
            %li= link_to "Менеджер рекламы", promotion_managers_path
            %li= link_to "Условия СПП", nm_nm_customer_discounts_path
            %li= link_to "Реклама", adverts_path
            %li= link_to "Поисковые запросы", nm_nm_group_queries_path
            %li= link_to "Товары конкурентов", nm_nm_group_competitors_path
            %li= link_to "Номенклатура", nm_nms_path


        %li
          %a Логистика
          %ul.dropdown.menu{"data-dropdown-menu"=>"true"}

            %li= link_to "Запланированные поставки", deliveries_scheduleds_path
            %li= link_to "Приоритеты складов", deliveries_priorities_index_path
            %li= link_to "Активные склады", tariff_tariffs_active_index_path
            %li= link_to "Способы доставки", delivery_methods_path
            %li= link_to "Потребности по складам", deliveries_supply_schema_schema_path
            %li= link_to "Статистика по регионам", deliveries_supply_schema_stats_path
            - if current_user.access_profit
              %li= link_to "Отчет по ценам логистики", dashboard_logistics_planning_path
            


        %li
          %a НСИ
          %ul.dropdown.menu{"data-dropdown-menu"=>"true"}
            %li= link_to "Заказы", orders_path
            %li= link_to "Поступления", incomes_path
            %li= link_to "Тарифы", tariff_tariffs_path
            %li= link_to "Комиссии", comissions_path
            %li= link_to "Регионы", regions_regions_path
            %li= link_to "Федеральные округа", regions_districts_path
            %li= link_to "Склады по регионам", regions_district_warehouses_path
            %li= link_to "Склады", warehouse_warehouse_index_path


  .top-bar-right
    %ul.menu.dropdown{"data-dropdown-menu"=>"true"}
      - if user_signed_in?
        %li
          = link_to "Задачи", task_manager_tasks_path
          %ul.dropdown.menu{"data-dropdown-menu"=>"true"}
            %li= link_to "Задачи", task_manager_tasks_path
            %li= link_to "Категории задач", task_manager_categories_path
            - if current_user.id == 1
              %li= link_to "Статусы задач", task_manager_statuses_path
        %li
          - if current_user.project_id
            = link_to "#{current_user.project.name}", current_user.project
          - else
            %a Проект
          %ul.dropdown.menu{"data-dropdown-menu"=>"true"}
            %li= link_to "Проекты", project_projects_path
            %li= link_to "Планировщик заданий", scheduler_main_path
            %li= link_to "Автоответчик", autoresponsers_path

            - if current_user.id == 1
              %li= link_to "Роли глобально", project_project_roles_path
      %li
        - if user_signed_in?
          = link_to "#{current_user.email} (ID #{current_user.id})", edit_user_registration_path
          %ul.dropdown.menu{"data-dropdown-menu"=>"true"}
            %li= link_to "#{current_user.email} (ID #{current_user.id})", edit_user_registration_path
            %li= link_to "Выйти", destroy_user_session_path, :method => :delete
            - if current_user.id == 1
              %li= link_to "Константы", app_global_constants_path
        - else
          %li= link_to "Войти", new_user_session_path
          %li= link_to "Регистрация", new_user_registration_path
