!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %title PumPurumPumPum.Ru
    = favicon_link_tag asset_path('icon2.png')

    - %w(76 120 152 167 180).each do |size| 
      = favicon_link_tag "apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png', sizes: "#{size}x#{size}"

    - %w(192 512).each do |size|
      = favicon_link_tag "android-chrome-#{size}x#{size}.png", rel: 'icon', type: 'image/png', sizes: "#{size}x#{size}"
    - %w(16 32).each do |size|
      = favicon_link_tag "favicon-#{size}x#{size}.png", rel: 'icon', type: 'image/png', sizes: "#{size}x#{size}"



    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    / = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_importmap_tags
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = content_for :render_async
    / = javascript_include_tag 'application', type: "module", "data-turbolinks-track" => 'reload' 
    %script{src: "https://cdn.jsdelivr.net/npm/chart.js"}

    / %script{src: 'https://cdn.jsdelivr.net/npm/nvd3@1.8.6/build/nv.d3.min.js'}
    / =stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/nvd3@1.8.6/build/nv.d3.min.css'


    = csrf_meta_tag


  / = javascript_tag do
  /   createApp(HelloWorld).mount("#header-menu");

  

  / %body
  %body.bg-gray-200.overflow-y-scroll
    = turbo_stream_from "nm_positions"
    = render 'layouts/header2'
    = yield
    = render 'layouts/notifications/notifications'
