%header{class: "bg-white  "}
  %div{class: "w-full flex flex-wrap items-center justify-between"}
    %div{class: ' px-4 py-6 sm:px-6 lg:px-8'}
      %h1{class: 'text-3xl font-bold tracking-tight text-gray-900 place-items-center self-center place-self-center justify-items-center'} Пользователь #{current_user.email}


%div{class: "w-full flex  px-4 py-4 sm:px-2 md:px-2 md:pb-2 lg:px-8 lg:pb-6"}

  %div{class: "m-1"}
    %h2.text-xl Профиль
    %div{class: "bg-white px-4 py-3"}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "") do |f|
        = render "users/shared/error_messages", resource: resource
        .pb-6
          = f.label :email, class: 'block text-sm font-medium leading-6 text-gray-900', value: "EMail"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .pb-6
          = f.label :password, class: 'block text-sm font-medium leading-6 text-gray-900', value: "Пароль"
          = f.password_field :password, autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          %i.block.text-sm.text-gray-400 (оставьте пустым, если не хотите менять)
          - if @minimum_password_length
            %em.block.text-sm.text-gray-400
              = @minimum_password_length
              символов минимум
        .pb-6
          = f.label :password_confirmation, class: 'block text-sm font-medium leading-6 text-gray-900', value: "Пароль (подтверждение)"
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        .pb-6
          = f.label :current_password, class: 'block text-sm font-medium leading-6 text-gray-900', value: "Текущий пароль"
          = f.password_field :current_password, autocomplete: "current-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          %i.block.text-sm.text-gray-400 (для подтверждения изменений)

        .pb-6
          = f.label :tg_chat_id, "Telegram Chat ID"
          = f.number_field :tg_chat_id, value: current_user.tg_chat_id, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"

        -# .pb-6
        -#   = f.label :token
        -#   %i (Token)
        -#   = f.text_area :token, value: current_user.token, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        -#   /, checked_value: true, unchecked_value: false, checked: current_user.autoresponder_enabled



          / , autocomplete: "current-password"
        .pb-6
          = f.submit "Обновить", class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"
 
  %div{class: "m-1"}
    %h2.text-xl Настройки проектов
    - current_user.roles_all.each do |role|
      %div{class: "bg-white px-4 py-3 mb-2 min-w-80"}
        - settings = Project::UserSetting.find_or_create_by user_id: role.user_id, project_id: role.project_id
        - project = role.project
        %span.text-xl Проект
        %span.text-xl.text-gray-400=project.name
        %hr
        = simple_form_for settings, url: project_user_settings_update_path, method: :post do  |f|
          = f.hidden_field :settings_id, value: settings.id
          = f.hidden_field :project_id, value: role.project_id
          = f.hidden_field :user_id, value: role.user_id
          .pb-6 
            .flex.justify-between.items-center
              %div{class: 'text-sm font-medium leading-6 text-gray-900 py-3'} Оповещения включены
              = f.input_field :notification_enabled, as: :boolean, class: 'my-3'
          .pb-6
            = f.submit value: "Обновить", class: "bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"

