

.row
  .columns.large-12
    %h2 Регистрация
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "users/shared/error_messages", resource: resource
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label "Пароль"
        - if @minimum_password_length
          %em
            (Минимальная длина: #{@minimum_password_length})
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label "Подтверждение пароля"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Войти", class: 'button'
    = render "users/shared/links"
